@keyframes widthChange{
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

@keyframes grow{
    0%{
        width: 0px;
    }
    100%{
        width: 180px;
    }
}

@keyframes changeOpacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}