@keyframes widthChange{
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

@keyframes grow{
    0%{
        width: 0px;
    }
    100%{
        width: 180px;
    }
}

@keyframes changeOpacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes blobRadius {
    0%, 100% {
      border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%;
    }
    20% {
      border-radius: 47% 73% 61% 59% / 47% 75% 45% 73%;
    }
    40% {
      border-radius: 46% 74% 74% 46% / 74% 58% 62% 46%;
    }
    60% {
      border-radius: 47% 73% 61% 59% / 40% 40% 80% 80%;
    }
    80% {
      border-radius: 50% 70% 52% 68% / 51% 61% 59% 69%;
    }
  }
  @keyframes blobBackground {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }