.dialog,
.dialog__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dialog {
    z-index: 10;
    position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    pointer-events: none;
}

.dialog__overlay {
    position: fixed;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    -webkit-backface-visibility: hidden;
}

.dialog--open .dialog__overlay {
    opacity: 1;
    pointer-events: auto;
}

.dialog__content {
    // border: 1px solid red;
    max-width: 400px;
    width: 90%;
    height: 600px;
    background: rgba(255, 255, 255, 1);
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 11;
    opacity: 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    #collarDetail {
        // border: 1px solid red;
        width: 400px;
        display: flex;
        margin-top: 30px;
        #orderTotal {
            width: 180px;
            // border: 1px solid blue;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            #orderQTY {
                margin-left: 20px;
                font-size: 1rem;
                &::before {
                    content: "購買數量 : ";
                }
            }
            #orderPrice {
                margin-left: 20px;
                font-size: 1rem;
                &::before {
                    content: "總金額 : $";
                }
            }
        }
    }
    #orderDetail {
        // border: 1px solid red;
        width: 100%;
        height: 240px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        .orderList {
            margin-left: 40px;
            font-size: 1rem;
        }
        #orderDate {
            &::before {
                content: "訂購日期 : ";
            }
        }
        #orderName {
            &::before {
                content: "寄件人姓名 : ";
            }
        }
        #orderPhone {
            &::before {
                content: "寄件人電話 : ";
            }
        }
        #orderAddress {
            &::before {
                content: "寄件人地址 : ";
            }
        }
    }
    .credit-card-box {
        width: 240px;
        height: 150px;
        margin: 0px 0px 40px 0px;
        perspective: 1000px;
        position: relative;
        // overflow: hidden;
        &:hover .flip,
        &.hover .flip {
            transform: rotateY(180deg);
        }
        .front,
        .back {
            // border: 1px solid red;
            width: 240px;
            height: 150px;
            border-radius: 15px;
            // -webkit-backface-visibility: visible;
            // -webkit-backface-visibility: hidden;
            // backface-visibility: hidden;
            backface-visibility: visible;
            background: linear-gradient(135deg, #7cbfc2, #00d369);
            //   background-image: url(../img/bg-01.png);
            //   background-size : cover;
            position: absolute;
            color: #fff;
            font-family: Inconsolata;
            top: 0;
            left: 0;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-image: url("../img/dogsleep.png");
                background-size: cover;
                background-repeat: no-repeat;
                opacity: 0.05;
            }
        }
        .flip {
            transition: 0.6s;
            transform-style: preserve-3d;
            position: relative;
            transition: transform 1s;
        }
        .logo {
            position: absolute;
            top: 5.4px;
            right: 12px;
            width: 36px;
            svg {
                width: 100%;
                height: auto;
                fill: #fff;
            }
        }
        .front {
            z-index: 2;
            transform: rotateY(0deg);
        }
        .back {
            transform: rotateY(180deg);
            .logo {
                top: 111px;
            }
        }
        .chip {
            position: absolute;
            width: 36px;
            height: 27px;
            top: 12px;
            left: 12px;
            background: linear-gradient(135deg, hsl(269, 54%, 87%) 0%, hsl(200, 64%, 89%) 44%, hsl(18, 55%, 94%) 100%);
            border-radius: 8px;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                border: 2.4px solid hsla(0, 0, 50, 0.1);
                width: 80%;
                height: 70%;
                border-radius: 3px;
            }
        }
        .strip {
            background: linear-gradient(135deg, hsl(0, 0, 25%), hsl(0, 0, 10%));
            position: absolute;
            width: 100%;
            height: 30px;
            top: 18px;
            left: 0;
        }
        .number {
            position: absolute;
            margin: 0 auto;
            top: 61.8px;
            left: 11.4px;
            font-size: 0.9rem;
            color: white;
        }
        label {
            font-size: 6px;
            letter-spacing: 1px;
            text-shadow: none;
            text-transform: uppercase;
            font-weight: normal;
            opacity: 0.5;
            display: block;
            margin-bottom: 3px;
        }
        .card-holder,
        .card-expiration-date {
            position: absolute;
            margin: 0 auto;
            top: 108px;
            left: 11.4px;
            font-size: 13.2px;
            div {
                font-size: 0.5rem;
                color: white;
            }
        }
        .card-expiration-date {
            text-align: right;
            left: auto;
            right: 12px;
        }
        .ccv {
            height: 21.6px;
            background: #fff;
            width: 90%;
            border-radius: 3px;
            top: 48%;
            left: 0;
            right: 0;
            position: absolute;
            margin: 0 auto;
            color: #000;
            text-align: right;
            padding: 1%;
            label {
                font-size: 0.5rem;
                margin: -25px 0 8.4px;
                color: #fff;
            }
        }
    }
}

.dialog--open .dialog__content {
    pointer-events: auto;
}


/* Content */

// .dialog h2 {
//     margin: 0;
//     font-weight: 400;
//     font-size: 2em;
//     padding: 0 0 2em;
//     margin: 0;
// }
// .dialog__overlay {
//     -webkit-transition-duration: 0.2s;
//     transition-duration: 0.2s;
// }
.dialog__content {
    overflow: hidden;
}

.dialog.dialog--open .dialog__content,
.dialog.dialog--close .dialog__content {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform-origin: -150% 50%;
    transform-origin: -150% 50%;
}

.dialog.dialog--open .dialog__content {
    -webkit-animation-name: anim-open;
    animation-name: anim-open;
}

.dialog.dialog--close .dialog__content {
    -webkit-animation-name: anim-close;
    animation-name: anim-close;
}

.dialog.dialog--open h3,
.dialog.dialog--open button {
    -webkit-animation: anim-elem 0.4s both;
    animation: anim-elem 0.4s both;
    -webkit-transform-origin: -50% 50%;
    transform-origin: -50% 50%;
    -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.dialog.dialog--open h3 {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.dialog.dialog--open button {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

@-webkit-keyframes anim-open {
    0% {
        opacity: 0;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes anim-open {
    0% {
        opacity: 0;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@-webkit-keyframes anim-close {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
    }
}

@keyframes anim-close {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
    }
}


/* Inner elements animations */

@-webkit-keyframes anim-elem {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -150px, 0) rotate3d(0, 0, 1, -20deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes anim-elem {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -150px, 0) rotate3d(0, 0, 1, -20deg);
        transform: translate3d(0, -150px, 0) rotate3d(0, 0, 1, -20deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
    }
}

.action {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
    transition: all 0.5s ease-in-out;
    &:hover {
        transform: rotate(180deg);
    }
}