#cursorBlob {
    width: 50px;
    height: 50px;
    background: url(../../img/shabon_l.png);
    background-size: cover;
    position: absolute;
    // mix-blend-mode: hard-light;
    pointer-events: none;
    z-index: 10;
    transition: 0.15s linear;
    animation: blobRadius 3s ease infinite, blobBackground 15s ease infinite;
  }

  @keyframes blobRadius {
    0%, 100% {
      border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%;
    }
    20% {
      border-radius: 47% 73% 61% 59% / 47% 75% 45% 73%;
    }
    40% {
      border-radius: 46% 74% 74% 46% / 74% 58% 62% 46%;
    }
    60% {
      border-radius: 47% 73% 61% 59% / 40% 40% 80% 80%;
    }
    80% {
      border-radius: 50% 70% 52% 68% / 51% 61% 59% 69%;
    }
  }
  @keyframes blobBackground {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

