#cursorBlob {
    width: 50px;
    height: 50px;
    background: linear-gradient(120deg, rgb(235, 193, 202), rgb(229, 199, 235), rgb(178, 195, 224), rgb(171, 217, 223), rgb(205, 231, 184));
    background-size: 1600% 1600%;
    position: absolute;
    mix-blend-mode: hard-light;
    pointer-events: none;
    z-index: 10;
    transition: 0.15s linear;
    animation: blobRadius 5s ease infinite, blobBackground 15s ease infinite;
  }

  @keyframes blobRadius {
    0%, 100% {
      border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%;
    }
    20% {
      border-radius: 47% 73% 61% 59% / 47% 75% 45% 73%;
    }
    40% {
      border-radius: 46% 74% 74% 46% / 74% 58% 62% 46%;
    }
    60% {
      border-radius: 47% 73% 61% 59% / 40% 40% 80% 80%;
    }
    80% {
      border-radius: 50% 70% 52% 68% / 51% 61% 59% 69%;
    }
  }
  @keyframes blobBackground {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
