@import "./map_animation/mapLightbox";
@import "./map_animation/mapSlideshow";

#mapZone {
  // width: 100%;
  // height: 100%;
  position: relative;
  #map-viewport {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  #googleMap {
    position: absolute;
    top: 0;
    bottom: -20px;
    left: 0;
    right: 0;
    .gm-style .gm-style-iw {
      font-weight: initial;
      font-size: inherit;
      // overflow: visible;
    }
    .friendContent,
    .lostContent {
      width: 300px;
      background-color: rgba(255, 255, 255, 0.7);
      position: relative;
      img {
        max-width: 290px;
      }
      .cardContentIcon {
        max-width: 30px;
        margin-top: 5px;
      }
      span {
        vertical-align: super;
        margin-left: 5px;
      }
      hr {
        margin-top: 7px;
        border: 1.5px solid #8fc8ce;
      }
      ul {
        list-style: none;
        li {
          margin: 5px;
          font-size: 0.9rem;
          background-image: url("../img/pawprint-01.svg");
          background-repeat: no-repeat;
          background-position: left 4.5px;
          background-size: 14px;
          padding-left: 20px;
          img {
            width: 20px;
            vertical-align: bottom;
            margin-left: 5px;
          }
          .mapMemPic{
            border-radius: 50%;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
  button {
    background-color: #fdfdfd;
    border-radius: 3px;
    transition: all 0.3 ease-out;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding: 0;
    border: none;
    &:focus {
      outline: 0;
    }
  }
  #map-control {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    button {
      width: 35px;
      height: 35px;
      margin-bottom: 2em;
      img {
        display: inline-block;
        vertical-align: middle;
      }
      + button {
        margin-bottom: 0.5em;
      }
    }
  }
  #map-type {
    position: absolute;
    bottom: 20px;
    right: 20px;
    button {
      color: #616161;
      font: bold 15px/1.8 calibri, sans-serif;
      min-width: 6em;
      + button {
        margin-left: 4px;
      }

      &:hover {
        color: #2466fa;
      }
    }
  }
  #infoBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    z-index: 100000;
    div {
      min-width: 100px;
      padding: 12px 18px 12px 6px;
      border-radius: 3px;
      box-shadow: 0px 3px 12px 0 rgba(0, 0, 0, 0.3);
      background-color: #fff;
      display: flex;
      align-items: center;
      &:before {
        content: "";
        width: 30px;
        height: 30px;
        background: url("//img.icons8.com/windows/48/a62424/map-pin.png")
          no-repeat 50% 50%;
        background-size: 30px;
      }
      h6 {
        color: #2d2d2d;
        font: 1.6em "Microsoft YaHei", "LiHei Pro", "Microsoft JhengHei",
          "Helvetica Neue", Helvetica, sans-serif;
        letter-spacing: 1px;
        white-space: nowrap;
        padding-left: 0.1em;
      }
    }
  }
}


#googleMap input[type="checkbox"] {
  -webkit-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-size: 14px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(../img/heart-regular.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #8fc8ce;
  position: absolute;
  right: 3px;
  bottom: 5px;
  outline: none;
}
#googleMap input[type="checkbox"]:hover {
  animation: favjump 0.2s infinite alternate;
}

@keyframes favjump {
  from {
    transform: translateY(1px);
  }
  to {
    transform: translateY(-1px);
  }
}
#googleMap input[type="checkbox"]:checked {
  -webkit-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/heart-solid.svg);
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid #8fc8ce;
  outline: none;
}

@media (max-width: 415px) {
  #mapZone #googleMap .friendContent, #mapZone #googleMap .lostContent{
    width: 215px;
  }
  #mapZone #googleMap .friendContent img, #mapZone #googleMap .lostContent img{
    max-width: 215px;
  }
}
