<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>浪愛回家 | 愛心助浪浪 | 發起募款</title>
    <link rel="stylesheet" href="./css/raisedonation.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.js'></script>
    <!-- 頁籤標題 -->
    <title>浪愛回家 | 愛心助浪浪 | 發起募款</title>
<link rel="icon" href="./img/logo.ico" type="image/x-icon">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

</head>

<body>
    <header class="header-navigation" id="header">
        <nav class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="container col-xl-8 col-lg-9 col-md-11 col-sm-12">
                <h1>
                    <a href="./main.html">
                        <img src="./img/logo-wide.png" alt="logo">
                    </a>
                </h1>
                <ul class="col-xl-9 col-lg-9 col-md-9">
                    <li><a id="navMap" href="./map.html">浪浪在哪裡</a></li>
                    <li><a id="navDonate" href="./donation.html">愛心助浪浪</a></li>
                    <li><a id="navCus" href="./customized.html">客製化項圈</a></li> 
                    <li><a id="navPost" href="./post_article_region.php">毛孩交流區</a></li>
                    <li><a id="navAbout" href="./aboutus.html">關於我們</a></li>
                    <li><a id="navLogin" class="login" href="./login.html">登入 / 註冊</a></li>
                </ul>
                <button class="hamburger hamburger--spring" type="button">
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span> 
                    </span>
                </button>
            </div>
        </nav>
    </header>
    <div style="height:10vh"></div>
<!---------------- banner ---------------->
    <div class="col-10 topimg">
        <div class="topimg">
            <img src="./img/donation/crossroad.png" alt="">
        </div>
        <div class="greenbubble">
            <img src="./img/donation/big_green_bubble.png" alt="">
        </div>
        <div class="bluebubble">
            <img src="./img/donation/big_bule_bubble.png" alt="">
        </div>
        <div class="littleyellowbubble">
            <img src="./img/donation/big_orange_bubble.png" alt="">
        </div>
    </div>
<!---------------- 發起募款步驟 ---------------->
    <div class="col-12 step">
        <div class="col-8 stepcontent">
            <div class="col-12 title">
                <h2>浪愛回家 從我開始</h2>
                <div class="article">
                    <p>幫助流浪動物其實很簡單，</p>
                    <p>有愛，任何人都能為浪浪盡一份心力。</p>
                    <p>我們的一點心意，能為浪浪帶來曙光。</p>
                </div>
            </div>
            <div class="col-12 steps">
                <div class="first_step wow fadeInDown">
                    <h1>01</h1>
                    <h2>STEP</h2>
                    <p>填寫表單</p>
                </div>
                <div class="second_step wow fadeInDown">
                    <h1>02</h1>
                    <h2>STEP</h2>
                    <p>內容確認</p>
                </div>
                <div class="third_step wow fadeInDown">
                    <h1>03</h1>
                    <h2>STEP</h2>
                    <p>確認發起募款</p>
                </div>
                <div class="forth_step wow fadeInDown">
                    <h1>04</h1>
                    <h2>STEP</h2>
                    <p>專案上線</p>
                </div>
                <!-- <div class="complete wow fadeInDown">
                    <h3>專案上線</h3>
                    <div class="sparkle">
                        <img src="./img/sparkle.png" alt="">
                    </div>
                </div> -->
            </div>
        </div>
    </div>
<!---------------- 發起募款表單 ---------------->
    <div class="formbox col-12">
        <form action="./php/projectinsert.php" id="raisedonationform" method="post" enctype="multipart/form-data" class="col-8">
            <div id="app">
                <!---------------- 卡片填寫 ---------------->
                <div class="stepone">
                    <div class="cardfill">
                        <div class="title">
                            <label>專案標題</label>
                            <span> 9字以內</span>
                        </div>
                        <input name="fundTitle" v-model="title" id="fundTitle" maxlength="9">
                        <div class="name">
                            <label>毛孩名稱</label>
                            <span> 9字以內</span>
                        </div>
                        <input name="fundName" v-model="name" id="fundName"  maxlength="9">
                        <!---------------- 專案目標和開始日期 ---------------->
                        <div class="fundGoal">
                            <label>目標金額</label>
                            <span>2萬以內</span>
                        </div>
                        <div class="select">
                            <select v-model="goal" class="select" name="fundGoal" id="fundGoal">
                                <option selected>1000</option>
                                <option>2000</option>
                                <option>3000</option>
                                <option>4000</option>
                                <option>5000</option>
                                <option>6000</option>
                                <option>7000</option>
                                <option>8000</option>
                                <option>9000</option>
                                <option>10000</option>
                                <option>11000</option>
                                <option>12000</option>
                                <option>13000</option>
                                <option>14000</option>
                                <option>15000</option>
                                <option>16000</option>
                                <option>17000</option>
                                <option>18000</option>
                                <option>19000</option>
                                <option>20000</option>
                            </select>
                        </div>
                        <div class="coverimgbox">
                            <div class="coverimg"><i class="far fa-image"></i>上傳封面照片
                                <input type='file' class="upl" name="upFile">
                            </div>
                            <p>建議照片比例為 4 x 6<br>寬度大於 1000 像素以維持圖像品質</p>
                        </div>
                    </div>
                    
                    <!---------------- 卡片顯示區塊 ---------------->
                    <div id="app2">
                        <div class="donationcardbox">
                            <div class="raiser" style="background-image:url(./img/donation/logo.jpg)"></div>
                            <div class="top">
                                <div class="donationpic preview" style="background-image:url(./img/donation/watercolorbg.png)"><img class="preview" style="max-width: 400px; max-height: 620px;">
                                </div>
                                <div class="tag">發起募款</div>
                                <div class="heartbtn"><i class="fa fa-heart"></i></div>
                            </div>
                            <div class="bottom">
                                <h3 class="donationtitle">{{title}}</h3>
                                <h3 class="donationname">{{name}}</h3>
                                <div class="texts">
                                    <div class="statusrow">
                                        <div class="nowpeople">捐款<span class="orange">0人</span></div>
                                        <div class="lastday">剩<span class="orange">100天</span>
                                        </div>
                                    </div>
                                    <div class="progressbar"></div>
                                    <div class="goal">已募款<span class="orange">NT$0/{{goal}}</span>
                                    </div>
                                </div>
                                <div class="orangebar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="steponebtn">
                        <button type="button" id="step1" class="titleFont">下一步</button>
                    </div>
                </div>
                <!---------------- 專案詳細內容排版 ---------------->
                <div class="detailbox">
                    <div class="articletitlebox">
                        <h3>{{title}}</h3>
                        <h3>{{name}}</h3>
                    </div>
                    <div class="imgboxrow">
                        <div class="imgbox">
                            <label id="img_upload">
                                <input type="file" name="upFile1" onchange="img_load(this);"/>
                                <span><i class="far fa-image"></i>上傳照片</span>
                            </label>
                        </div>
                        <div class="imgbox1">
                            <label id="img_upload2">
                                <input type="file" name="upFile2" onchange="img_load2(this);"/>
                                <span><i class="far fa-image"></i>上傳照片</span>
                            </label>
                        </div>
                        <div class="imgbox2">
                            <label id="img_upload3">
                                <input type="file" name="upFile3" onchange="img_load3(this);"/>
                                <span><i class="far fa-image"></i>上傳照片</span>
                            </label>
                        </div>
                    </div>
                    <div class="firstarticlerow">
                        <label>毛孩介紹</label>
                        <span> 180字以內</span>
                    </div>
                    <textarea class="firstarticlerow" v-model="firstarticlerow" maxlength="180"></textarea>
                    <div class="secondarticlerow">
                        <label>募款目的</label>
                        <span> 180字以內</span>
                    </div>
                    <textarea class="secondarticlerow" v-model="secondarticlerow" maxlength="180"></textarea>
                    <div class="thirdarticlerow">
                        <label>拉票文宣</label>
                        <span> 180字以內</span>
                    </div>
                    <textarea class="thirdarticlerow" v-model="thirdarticlerow" maxlength="180"></textarea>
                    <input type="hidden" name="memPoint" id="memPoint" value="300">
                    <div class="gosubmit">
                        <div class="steptwobtn">
                            <button type="button" id="step2" class="titleFont">上一步</button>
                        </div>
                        <button type="submit" name="submit" class="su" id="submitbtn">
                            <a class="btn darkgreen nav__link">
                                <span class="titleFont">發起募款</span>
                                <div class="border"></div>
                                <div class="border"></div>
                                <div class="border"></div>
                                <div class="border"></div>
                            </a>
                        </button>
                    </div>                         
                </div>
            
                
            
            <!---------------- 專案內容確認 ---------------->
                <!-- <input type='file' class="upl">
                    <div>
                    <img class="preview">
                </div>
                <div class="detailcontent1">
                    <label>第一段落</label>
                    <span> 60字以內</span>
                </div>
                <textarea v-model="detailcontent1"></textarea><br/>
                <div class="detailcontent2">
                    <label>第二段落</label>
                    <span> 60字以內</span>
                </div>
                <textarea v-model="detailcontent2"></textarea><br/>
                <div class="imgrow">
                    <input type='file' class="upl">
                    <div>
                        <img class="preview">
                    </div>
                    <input type='file' class="upl2">
                    <div>
                        <img class="preview2" style="max-width: 500px; max-height: 500px;">
                        <div class="size"></div>
                    </div>
                </div>
                <div class="detailcontent3">
                    <label>第三段落</label>
                    <span> 60字以內</span>
                </div>
                <textarea v-model="detailcontent3"></textarea><br/>
            </div>    -->
                <!---------------- 日期目標設定 ---------------->
                


            </div><!-- app結束標籤 -->
            
        </form><!-- form結束標籤 -->
    </div>

<footer>
    <div class="page_top" id="page_top">
        <span class="titleFont smalltext">PAGE TOP</span>
    </div>
    <p class="titleFont smalltext">
        © 2020 Bring Love Home
    </p>
</footer>
<script src="./js/hamburger.js"></script>
<script src="./js/header_slide.js"></script>
<script src="./js/page_top.js"></script>
<script src="./js/raisedonation.js"></script>
<script src="./js/signInOut.js"></script>

<script>
    //判斷會員是否登入
    function checkLoginStatus(e) {
                var xhr = new XMLHttpRequest();
                var url = "./php/checkMem.php";
                xhr.open("GET", url, true);
                xhr.send(null);
                xhr.onload = function () {
                    if (xhr.status == 200) {
                        member = JSON.parse(xhr.responseText);
                        if (!member.memName) {
                            e.preventDefault();
                            e.stopPropagation();
                            alert('請先登入');
                            window.location = './raisedonation.html';
                        }else{
                            alert('成功發起募款 獲得紅利點數300');
                            window.location = './raisedonation.html';

                        }
                    }
                }
            }
        document.getElementById("submitbtn").addEventListener("click", checkLoginStatus);
</script>
</body>

</html>