<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- <div class="card-header">Card title</div> -->
            <div class="card-body">
                <!-- <button class="btn btn-block btn-outline-primary" type="button">Primary</button> -->
                <table class="table table-responsive-sm table-sm">
                    <thead>
                        <tr>
                            <th>私信編號</th>
                            <th>發信會員編號</th>
                            <th>收信會員編號</th>
                            <th>私信時間</th>
                            <th>私信文字內容</th>
                            <th>私信圖片內容</th>
                            <th>是否已讀</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>