<section class="memTable">
    <h3>我的訂單</h3>
    <div class="memTable_content">
        <table id="memOrderList">
            <tr>
                <th class="titleFont">訂單編號</th>
                <th class="titleFont">商品圖案</th>
                <th class="titleFont">購買日期</th>
                <th class="titleFont">收件人姓名</th>
                <th class="titleFont">收件人電話</th>
                <th class="titleFont">收件人地址</th>
                <th class="titleFont memRWD_992">商品數量</th>
                <th class="titleFont memRWD_992">訂單金額</th>
                <th class="titleFont memRWD_992">訂單狀態</th>
            </tr>
        </table>
    </div>
</section>

<script>
    window.addEventListener('load', function() {
        function getOrderList() {
            var memNo = member.memNo;
            var formData = new FormData();
            formData.append("memNo", memNo);
            $.ajax({
                url: "php/getOrderList.php",
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                type: "post",
                dataType: "json",
                success: function(data) {
                    msg = "";
                    for (i = 0; i < data.length; i++) {
                        msg +=
                            `
                            <tr>
                                <td>${i+1}</td>
                                <td><img src="./img/customized_collar/orderRecord/${data[i].orderPic}.png" width="200"></td>
                                <td>${data[i].orderDate}</td>
                                <td>${data[i].orderName}</td>
                                <td>${data[i].orderPhone}</td>
                                <td>${data[i].orderAddress}</td>
                                <td class="memRWD_992">${data[i].orderQty}</td>
                                <td class="memRWD_992">${data[i].orderPrice}</td>
                                <td class="memRWD_992">待出貨</td>
                            </tr>
                        `;
                    }
                    $('#memOrderList').append(msg);
                }
            })
        }
        getOrderList();
    })
</script>