<nav class="sidebar-nav">
  <ul class="nav">
    <!-- <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="nav-icon icon-speedometer"></i> Dashboard
          <span class="badge badge-primary">NEWs</span>
        </a>
      </li> -->
    <!-- <li class="nav-title">Theme</li>
      <li class="nav-item">
        <a class="nav-link" href="colors.html">
          <i class="nav-icon icon-drop"></i> Colors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="typography.html">
          <i class="nav-icon icon-pencil"></i> Typography</a>
      </li> -->
    <!-- <li class="nav-title">Components</li> -->

    
    <li class="nav-item">
      <a class="nav-link" href="backend.html">管理員管理</a>
    </li>
    
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-drop"></i>GPS地圖管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="base/breadcrumb.html"><i
              class="c-icon c-icon-2xl mt-5 mb-2 cil-map"></i>寵物友善空間管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="base/cards.html">寵物友善空間評論管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="base/carousel.html">寵物友善空間收藏管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="base/collapse.html">寵物遺失回報管理</a>
        </li>
        
        <!-- <li class="nav-item">
            <a class="nav-link" href="base/forms.html">
              <i class="nav-icon icon-puzzle"></i> Forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base/jumbotron.html">
              <i class="nav-icon icon-puzzle"></i> Jumbotron</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base/list-group.html">
              <i class="nav-icon icon-puzzle"></i> List group</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base/navs.html">
              <i class="nav-icon icon-puzzle"></i> Navs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base/pagination.html">
              <i class="nav-icon icon-puzzle"></i> Pagination</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base/popovers.html">
              <i class="nav-icon icon-puzzle"></i> Popovers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base/progress.html">
              <i class="nav-icon icon-puzzle"></i> Progress</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base/scrollspy.html">
              <i class="nav-icon icon-puzzle"></i> Scrollspy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base/switches.html">
              <i class="nav-icon icon-puzzle"></i> Switches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base/tables.html">
              <i class="nav-icon icon-puzzle"></i> Tables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base/tabs.html">
              <i class="nav-icon icon-puzzle"></i> Tabs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base/tooltips.html">
              <i class="nav-icon icon-puzzle"></i> Tooltips</a>
          </li> -->
      </ul>
    </li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-cursor"></i> 募款管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="buttons/buttons.html">
            <i class="nav-icon icon-cursor"></i> 募款專案管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="buttons/button-group.html">
            <i class="nav-icon icon-cursor"></i> 募款收藏管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="buttons/dropdowns.html">
            <i class="nav-icon icon-cursor"></i> 參與捐款管理</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="buttons/brand-buttons.html">
              <i class="nav-icon icon-cursor"></i> Brand Buttons</a>
          </li> -->
      </ul>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" href="charts.html">Charts</a>
      </li> -->
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">客製化管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="icons/coreui-icons.html">客製化項圈管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="icons/flags.html">客製化顏色管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="icons/font-awesome.html">客製化字型管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="icons/simple-line-icons.html">客製化吊牌管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="icons/simple-line-icons.html">訂單紀錄管理</a>
        </li>

      </ul>
    </li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">討論區管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="notifications/alerts.html">貼文資訊管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="notifications/badge.html">貼文關鍵字管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="notifications/modals.html">貼文留言管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="notifications/modals.html">貼文檢舉管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="notifications/modals.html">貼文留言檢舉管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="notifications/modals.html">貼文收藏紀錄管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="notifications/modals.html">照片牆留言管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="notifications/modals.html">照片牆照片檢舉</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="notifications/modals.html">照片牆留言檢舉</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="widgets.html">活動/新聞/宣導管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="widgets.html">常見問答管理</a>
    </li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#"><i class="nav-icon icon-pie-chart"></i>會員管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="login.html" target="_top">會員資料管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register.html" target="_top">黑名單管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="404.html" target="_top">私信資料管理</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>