<div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- <div class="card-header">Card title</div> -->
            <div class="card-body">
              <!-- <button class="btn btn-block btn-outline-primary" type="button">Primary</button> -->
              <table class="table table-responsive-sm table-sm">
                <thead>
                  <tr>
                    <th>吊牌圖樣編號</th>
                    <th>吊牌圖樣名稱</th>
                    <th>吊牌圖樣來源</th>
                    <th>解鎖所需點數</th>
                    <th>吊牌圖案狀態</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Carwyn Fachtna</td>
                    <td>2012/01/01</td>
                    <td><input type="file"></td>
                    <td></td>
                    <td>
                        <label class="switch switch-3d switch-success">
                            <input class="switch-input question_status modified" type="checkbox" name="question_status" value="1" style="border: 1px solid rgb(204, 204, 204);">
                            <span class="switch-slider"></span>
                        </label>
                    </td>
                  </tr>
                  <tr>
                    <td>Nehemiah Tatius</td>
                    <td>2012/02/01</td>
                    <td><input type="file"></td>
                    <td></td>
                    <td>
                        <label class="switch switch-3d switch-success">
                            <input class="switch-input question_status modified" type="checkbox" name="question_status" value="1" style="border: 1px solid rgb(204, 204, 204);">
                            <span class="switch-slider"></span>
                        </label>
                    </td>
                  </tr>
                  <tr>
                    <td>Ebbe Gemariah</td>
                    <td>2012/02/01</td>
                    <td><input type="file"></td>
                    <td></td>
                    <td>
                        <label class="switch switch-3d switch-success">
                            <input class="switch-input question_status modified" type="checkbox" name="question_status" value="1" style="border: 1px solid rgb(204, 204, 204);">
                            <span class="switch-slider"></span>
                        </label>
                    </td>
                  </tr>
                  <tr>
                    <td>Eustorgios Amulius</td>
                    <td>2012/03/01</td>
                    <td><input type="file"></td>
                    <td></td>
                    <td>
                        <label class="switch switch-3d switch-success">
                            <input class="switch-input question_status modified" type="checkbox" name="question_status" value="1" style="border: 1px solid rgb(204, 204, 204);">
                            <span class="switch-slider"></span>
                        </label>
                    </td>
                  </tr>
                </tbody>
              </table>


            </div>
          </div>
        </div>
      </div>