<ul class="small-tabs">
    <li class="small-tab-link current" data-tab="small-tab-5">照片牆貼文</li>
    <li class="small-tab-link" data-tab="small-tab-6">照片牆留言</li>
</ul>
<div class="small-tab-contents">
    <div id="small-tab-5" class="small-tab-content current">
        <section class="memTable">
            <h3>照片牆貼文</h3>
            <div class="memTable_content">
                <table>
                    <tr>
                        <th class="titleFont">編號</th>
                        <th class="titleFont memRWD_992">分享時間</th>
                        <th class="titleFont">分享照片</th>
                        <th class="titleFont"></th>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td class="memRWD_992">2020-02-01</td>
                        <td><img src="https://picsum.photos/80/110"></td>
                        <td><a href="#" class="updatebtn_s">刪除</a></td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td class="memRWD_992">2020-02-01</td>
                        <td><img src="https://picsum.photos/80/110"></td>
                        <td><a href="#" class="updatebtn_s">刪除</a></td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td class="memRWD_992">2020-02-01</td>
                        <td><img src="https://picsum.photos/80/110"></td>
                        <td><a href="#" class="updatebtn_s">刪除</a></td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td class="memRWD_992">2020-02-01</td>
                        <td><img src="https://picsum.photos/80/110"></td>  
                        <td><a href="#" class="updatebtn_s">刪除</a></td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
    <div id="small-tab-6" class="small-tab-content">
        <section class="memTable">
            <h3>照片牆留言</h3>
            <div class="memTable_content">
                <table>
                    <tr>
                        <th class="titleFont">編號</th>
                        <th class="titleFont memRWD_992">貼文標題</th>
                        <th class="titleFont memRWD_992">發文者</th>
                        <th class="titleFont memRWD_992">留言時間</th>
                        <th class="titleFont">留言內容</th>
                        <th class="titleFont"></th>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td class="memRWD_992">貼文標題貼文標題貼文標題貼文標題</td>
                        <td class="memRWD_992">Adam</td>
                        <td class="memRWD_992">2020-02-21</td>
                        <td>你的狗好可愛!</td>
                        <td><a href="#" class="updatebtn_s">刪除</a></td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td class="memRWD_992">貼文標題貼文標題貼文標題貼文標題</td>
                        <td class="memRWD_992">Adam</td>
                        <td class="memRWD_992">2020-02-21</td>
                        <td>你的狗好可愛!</td>
                        <td><a href="#" class="updatebtn_s">刪除</a></td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td class="memRWD_992">貼文標題貼文標題貼文標題貼文標題</td>
                        <td class="memRWD_992">Adam</td>
                        <td class="memRWD_992">2020-02-21</td>
                        <td>你的狗好可愛!</td>
                        <td><a href="#" class="updatebtn_s">刪除</a></td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td class="memRWD_992">貼文標題貼文標題貼文標題貼文標題</td>
                        <td class="memRWD_992">Adam</td>
                        <td class="memRWD_992">2020-02-21</td>
                        <td>你的狗好可愛!</td>
                        <td><a href="#" class="updatebtn_s">刪除</a></td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>