<section class="memInfo">
    <h3>
        會員資訊
    </h3>
    <div class="note">
        <p>小提醒</p>
        <p>你填寫的「會員暱稱」將會被引用於網站上公開評價及相關連結，如果你不希望你的真實姓名被列入本平台及其他外部搜尋引擎的搜尋結果，建議你選擇一個親切的暱稱使用。請放心，你的電子郵件及所有與其他會員溝通的訊息、檔案及相關購買資料，網站將依照個人資料保護法保障你的個人隱私！
        </p>
    </div>
    <div class="memInfo_content">
        <div class="left">
            <div>
                <label>會員帳號</label>
                <span id="memId"></span>
            </div>
            <div>
                <label for="memName">會員暱稱</label>
                <input type="text" id="memName" minlength="1" maxlength="8" placeholder="最長8字" required>
            </div>
            <div>
                <label for="memPsw">會員密碼</label>
                <div class="mempw">
                    <input type="password" id="memPsw" minlength="4" maxlength="16" placeholder="請輸入4-16碼英文、數字" disabled><a class="updatebtn_s" id="showPsw">修改密碼</a>
                </div>
            </div>
            <div class="clickToShow">
                <label for="nowPsw">現在密碼</label>
                <div class="mempw">
                    <input type="password" id="nowPsw" minlength="4" maxlength="16" placeholder="請輸入現在密碼" required>
                </div>
            </div>
            <div class="clickToShow">
                <label for="newPsw">新密碼</label>
                <div class="mempw">
                    <input type="password" id="newPsw" minlength="4" maxlength="16" placeholder="請輸入4-16碼英文、數字" required>
                </div>
            </div>
            <div class="clickToShow">
                <label for="checkPsw">確認密碼</label>
                <div class="mempw">
                    <input type="password" id="checkPsw" minlength="4" maxlength="16" placeholder="請再次輸入新密碼" required>
                </div>
            </div>
            <div>
                <label>紅利點數</label>
                <span id="memPoint"></span>
            </div>
        </div>
        <div class="right">
            <label>會員圖片</label>
            <div>
                <div id="memPic"></div>
                <label class="uploadimgbtn">
                    <input id="upload_img" style="display:none;" type="file" accept="image/*">
                    <i class="fa fa-photo"></i> 更換照片
                </label>
            </div>
        </div>
    </div>
    <div class="submitbtn">
        <a class="btn gray nav__link" @@connect>
    <span class="titleFont">
        更新會員資料
        <img src="img/button_arrow_white.svg">
    </span>
    <div class="border"></div>
    <div class="border"></div>
    <div class="border"></div>
    <div class="border"></div>
</a>

    </div>
</section>