<style>
    #allOrderList tr {
        /* border: 1px solid red; */
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
    
    #allOrderList tr td {
        line-height: 120px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- <div class="card-header">Card title</div> -->
            <div class="card-body">
                <!-- <button class="btn btn-block btn-outline-primary" type="button">Primary</button> -->
                <table class="table table-responsive-sm table-sm">
                    <thead>
                        <tr>
                            <th>訂單編號</th>
                            <th>商品圖案</th>
                            <th>購買日期</th>
                            <th>收件人姓名</th>
                            <th>收件人電話</th>
                            <th>收件人地址</th>
                            <th>購買數量</th>
                            <th>訂單金額</th>
                            <th>訂單狀態</th>
                        </tr>
                    </thead>
                    <tbody id="allOrderList">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', function() {
        function getOrderList() {
            $.ajax({
                url: "php/getOrderList.php",
                cache: false,
                contentType: false,
                processData: false,
                type: "post",
                dataType: "json",
                success: function(data) {
                    msg = "";
                    for (i = 0; i < data.length; i++) {
                        if (data[i].orderStatus == 0) {
                            msg +=
                                `
                                  <tr>
                                    <td>${data[i].orderNo}</td>
                                    <td><img src="./img/customized_collar/orderRecord/${data[i].orderPic}.png" width="150"></td>
                                    <td>${data[i].orderDate}</td>
                                    <td>${data[i].orderName}</td>
                                    <td>${data[i].orderPhone}</td>
                                    <td>${data[i].orderAddress}</td>
                                    <td>${data[i].orderQty}</td>
                                    <td>${data[i].orderPrice}</td>
                                    <td>
                                        <form action="">
                                            <select class="orderSelects" name="" id="" style="width: 100px;" orderNo="${data[i].orderNo}">
                                              <option value="0" selected>待出貨</option>
                                              <option value="1">已出貨</option>
                                              <option value="2">待收貨</option>
                                              <option value="3">已收貨</option>
                                            </select>
                                        </form>
                                    </td>
                                </tr>
                              `;
                        } else if (data[i].orderStatus == 1) {
                            msg +=
                                `
                                  <tr>
                                    <td>${data[i].orderNo}</td>
                                    <td><img src="./img/customized_collar/orderRecord/${data[i].orderPic}.png" width="150"></td>
                                    <td>${data[i].orderDate}</td>
                                    <td>${data[i].orderName}</td>
                                    <td>${data[i].orderPhone}</td>
                                    <td>${data[i].orderAddress}</td>
                                    <td>${data[i].orderQty}</td>
                                    <td>${data[i].orderPrice}</td>
                                    <td>
                                        <form action="">
                                            <select class="orderSelects" name="" id="" style="width: 100px;" orderNo="${data[i].orderNo}">
                                              <option value="0">待出貨</option>
                                              <option value="1" selected>已出貨</option>
                                              <option value="2">待收貨</option>
                                              <option value="3">已收貨</option>
                                            </select>
                                        </form>
                                    </td>
                                </tr>
                              `;
                        } else if (data[i].orderStatus == 2) {
                            msg +=
                                `
                                  <tr>
                                    <td>${data[i].orderNo}</td>
                                    <td><img src="./img/customized_collar/orderRecord/${data[i].orderPic}.png" width="150"></td>
                                    <td>${data[i].orderDate}</td>
                                    <td>${data[i].orderName}</td>
                                    <td>${data[i].orderPhone}</td>
                                    <td>${data[i].orderAddress}</td>
                                    <td>${data[i].orderQty}</td>
                                    <td>${data[i].orderPrice}</td>
                                    <td>
                                        <form action="">
                                            <select class="orderSelects" name="" id="" style="width: 100px;" orderNo="${data[i].orderNo}">
                                              <option value="0">待出貨</option>
                                              <option value="1">已出貨</option>
                                              <option value="2" selected>待收貨</option>
                                              <option value="3">已收貨</option>
                                            </select>
                                        </form>
                                    </td>
                                </tr>
                              `;
                        } else {
                            msg +=
                                `
                                  <tr>
                                    <td>${data[i].orderNo}</td>
                                    <td><img src="./img/customized_collar/orderRecord/${data[i].orderPic}.png" width="150"></td>
                                    <td>${data[i].orderDate}</td>
                                    <td>${data[i].orderName}</td>
                                    <td>${data[i].orderPhone}</td>
                                    <td>${data[i].orderAddress}</td>
                                    <td>${data[i].orderQty}</td>
                                    <td>${data[i].orderPrice}</td>
                                    <td>
                                        <form action="">
                                            <select class="orderSelects" name="" id="" style="width: 100px;" orderNo="${data[i].orderNo}">
                                              <option value="0">待出貨</option>
                                              <option value="1">已出貨</option>
                                              <option value="2">待收貨</option>
                                              <option value="3" selected>已收貨</option>
                                            </select>
                                        </form>
                                    </td>
                                </tr>
                              `;
                        }
                    }
                    $(document).ready(function() {
                        $('.orderSelects').change(function() {
                            updateOrderRecord($(this).attr('orderNo'), $(this).val());
                        })
                    })
                    $('#allOrderList').append(msg);
                }
            })
        }
        getOrderList();
    })

    function updateOrderRecord(sendOrderNo, newOrderStatus) {
        var xhr = new XMLHttpRequest();
        var url = "./php/updateOrderRecord.php";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        var data_info = `orderStatus=${newOrderStatus}&orderNo=${sendOrderNo}`;
        xhr.send(data_info);

        xhr.onload = function() {
            if (xhr.status == 200) {
                alert("訂單狀態更新成功");
            }
        }
    }
</script>