<section class="memTable">
    <h3>我的訂單</h3>
    <div class="memTable_content">
        <table id="memOrderList">
            <tr>
                <th class="titleFont">訂單編號</th>
                <th class="titleFont">商品圖案</th>
                <th class="titleFont memRWD_992">購買日期</th>
                <th class="titleFont memRWD_992">收件人姓名</th>
                <th class="titleFont memRWD_992">收件人電話</th>
                <th class="titleFont memRWD_992">收件人地址</th>
                <th class="titleFont memRWD_992">商品數量</th>
                <th class="titleFont memRWD_992">訂單金額</th>
                <th class="titleFont">訂單狀態</th>
            </tr>
        </table>
    </div>
</section>

<script>
    window.addEventListener('load', function() {
        function memOrderList() {
            var memNo = member.memNo;
            var formData = new FormData();
            formData.append("memNo", memNo);
            $.ajax({
                url: "php/memOrderList.php",
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                type: "post",
                dataType: "json",
                success: function(data) {
                    msg = "";
                    for (i = 0; i < data.length; i++) {
                        if (data[i].orderStatus == 0) {
                            msg +=
                                `
                                <tr>
                                    <td>${i+1}</td>
                                    <td><img src="./img/customized_collar/orderRecord/${data[i].orderPic}.png" width="200" class="tagZoomImgs"></td>
                                    <td class="memRWD_992">${data[i].orderDate}</td>
                                    <td class="memRWD_992">${data[i].orderName}</td>
                                    <td class="memRWD_992">${data[i].orderPhone}</td>
                                    <td class="memRWD_992">${data[i].orderAddress}</td>
                                    <td class="memRWD_992">${data[i].orderQty}</td>
                                    <td class="memRWD_992">${data[i].orderPrice}</td>
                                    <td class="orderStatus">待出貨</td>
                                </tr>
                            `;
                        } else if (data[i].orderStatus == 1) {
                            msg +=
                                `
                                <tr>
                                    <td>${i+1}</td>
                                    <td><img src="./img/customized_collar/orderRecord/${data[i].orderPic}.png" width="200" class="tagZoomImgs"></td>
                                    <td class="memRWD_992">${data[i].orderDate}</td>
                                    <td class="memRWD_992">${data[i].orderName}</td>
                                    <td class="memRWD_992">${data[i].orderPhone}</td>
                                    <td class="memRWD_992">${data[i].orderAddress}</td>
                                    <td class="memRWD_992">${data[i].orderQty}</td>
                                    <td class="memRWD_992">${data[i].orderPrice}</td>
                                    <td orderStatus">已出貨</td>
                                </tr>
                            `;
                        } else if (data[i].orderStatus == 2) {
                            msg +=
                                `
                                <tr>
                                    <td>${i+1}</td>
                                    <td><img src="./img/customized_collar/orderRecord/${data[i].orderPic}.png" width="200" class="tagZoomImgs"></td>
                                    <td class="memRWD_992">${data[i].orderDate}</td>
                                    <td class="memRWD_992">${data[i].orderName}</td>
                                    <td class="memRWD_992">${data[i].orderPhone}</td>
                                    <td class="memRWD_992">${data[i].orderAddress}</td>
                                    <td class="memRWD_992">${data[i].orderQty}</td>
                                    <td class="memRWD_992">${data[i].orderPrice}</td>
                                    <td orderStatus">待收貨</td>
                                </tr>
                            `;
                        } else {
                            msg +=
                                `
                                <tr>
                                    <td>${i+1}</td>
                                    <td><img src="./img/customized_collar/orderRecord/${data[i].orderPic}.png" width="200" class="tagZoomImgs"></td>
                                    <td class="memRWD_992">${data[i].orderDate}</td>
                                    <td class="memRWD_992">${data[i].orderName}</td>
                                    <td class="memRWD_992">${data[i].orderPhone}</td>
                                    <td class="memRWD_992">${data[i].orderAddress}</td>
                                    <td class="memRWD_992">${data[i].orderQty}</td>
                                    <td class="memRWD_992">${data[i].orderPrice}</td>
                                    <td orderStatus">已取貨</td>
                                </tr>
                            `;
                        }
                    }
                    $('#memOrderList').append(msg);
                }
            })
        }
        memOrderList();
    })
</script>