@import "layout/wrapper";
@import "layout/grid";
@import "layout/style";
@import "layout/font";
@import "layout/color";
@import "layout/header";
@include header(fixed);
@import "layout/footer";
@import "layout/btn";
@import "layout/fatherHeight";
@import "layout/card";
@import "layout/change";
@include changePage();
@import "layout/scrollbar";
@import "layout/rwd";
@import "layout/hamburger";


@mixin bg_image($url_files, $pic_type) {
  background-image: url("../img/#{$url_files}.#{$pic_type}");
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  overflow-x: hidden;
  .wrapper {
    width: 100%;
  }
}
.bgimg {
  @include bg_image(sky, PNG);
  margin-top: 100px;

  &::after {
    content: "";
    display: block;
    clear: both;
  }
  .titleAdjust {
    margin: -60px 0px 0px 130px;
  }
  .enSpecialFont {
    color: rgb(215, 210, 203);
  }

  .storyLeft {
    h3 {
      padding: 100px;
    }
    p {
      width: 80%;
      padding: 0px 0 100px 100px;
      line-height: 2;
    }
  }
}

.storybox {
  background-color: white;
  float: right;
  margin-top: -26%;
  margin-bottom: 10%;

  .storyPic {
    width: 90%;
    margin-top: -5%;
    margin-bottom: 8%;
    float: right;
  }

  .storyRight {
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
}

.faithUp {
  display: flex;
  width: 100%;

  .faithtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(205, 248, 74);
    width: 50%;

    div {
      width: 60%;
    }
  }

  .faithpic {
    width: 50%;
    img {
      height: 100%;
      width: 100%;
    }
  }
}

.faithDown {
  h3 {
    text-align: center;
    padding: 5%;

    span {
      font-size: 35px;
      color: rgb(215, 210, 203);
    }
  }
}

.ourteam-bgc {
  background-color: rgb(216, 231, 244);
  display: flex;
  padding: 80px 30px;

  .ourteamLeft {
    // border: 3px solid red;
    padding: 30px 50px;

    h3 {
      padding: 50px 0;
    }

    p {
      padding: 50px 0;
    }
  }

  .ourteamRight {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 50px;

    div {
      border: 5px solid rgba(48, 132, 201, 0);
      margin-bottom: 25px;
      img {
        width: 100%;
        height: 90%;
        border-radius: 10px;
      }

      .member_logo_size {
        height: auto;
        margin-top: 50px;
      }

      h3 {
        text-align: center;
      }
    }
  }
}

article {
  .qaWrapper {
    background-image: url(../img/qa_banner.png);
    background-attachment: fixed;
    height: 0;
    padding-top: 30%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px 0;

    p,
    h3 {
      text-align: center;
    }

    p {
      font-size: xx-large;
    }
  }

  .map_option.is-active {
    background-image: url(../img/icon_minus.png);
  }

  .map_option {
    background-image: url(../img/icon_plus.png);
    background-position: right;
    background-size: 5.5%;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: 1.3rem;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
  }

  .map_option::before {
    content: "";
    display: block;
    background-image: url(../img/paper/pattern.png);
    background-size: contain;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .option_height::before {
    content: "";
    display: block;
    background-image: url(../img/paper/pattern.png);
    background-size: cover;
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .option_height {
    width: 70%;
    margin: 0 auto;
    h3 {
      padding: 10px 0;
    }
  }

  .qa_content {
    padding: 30px;
    width: 70%;
    margin: 0 auto;
    display: none;
  }

  .checked {
    display: block;
  }
}

.contactWrapper {
  background-image: url(../img/contactBgc.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 100px 0 0;
  display: flex;
  padding: 50px;
  .contactLeft {
    padding: 50px;
    h3 {
      text-align: center;
    }
    .blackLine {
      border: 1px solid rgb(31, 31, 31);
      width: 80%;
      margin: 30px auto;
    }
    .address_tel{
      h4{
        padding-left: 10%;
      }
    }
  }

  .contactRight {
    padding: 50px 200px;
    // border: 1px solid red;
    
    form{
      .set_box_border {
        position: relative;
        display: inline-block;
        background-color: #fff;
        textarea {
          border-radius: 5px;
          outline: none;
          border: none;
          background-color: transparent;
        }
        .border{
          position:absolute;
          background:none;
          transition:all .5s ease-in-out;
        }
        .border:nth-child(1){
            top:0;
            left:0;
            width:0;
            height:0;
            border-top:1px solid $gray;
        }
        .border:nth-child(2){
            top:0;
            right:0;
            width:0;
            height:0;
            border-right:1px solid $gray;
        }
        .border:nth-child(3){
            bottom:0;
            right:0;
            width:0;
            height:0;
            border-bottom:1px solid $gray;
        }
        .border:last-child{
            bottom:0;
            left:0;
            width:0;
            height:0;
            border-left:1px solid $gray;
        }
        &:hover{
            .border:nth-child(1){
                width:100%;
            }
            .border:nth-child(2){
                height:100%;
            }
            .border:nth-child(3){
                width:100%;
            }
            .border:last-child{
                height:100%;
            }
        }
      }
      label{
        display: block;
        margin-top: 10px;
        img{
          width: 25px;
          position: relative;
          top: 6px;
        }
        input{
          display: none;
        }
      }
      a.btn{
        display: block;
        margin-top: 30px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .bgimg {
    display: flex;
    flex-direction: column;

    .aboutusbox {
      width: 100%;

      .enSpecialFont {
        text-align: center;
      }

      .titleAdjust {
        text-align: center;
        margin: -60px auto 0px;
      }
    }

    .storybox {
      width: 100%;
      margin-top: 0;
      .storyPic {
        margin-top: 0;
        float: none;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .faithUp {
    flex-direction: column-reverse;

    .faithtext {
      width: 100%;

      div {
        padding: 40px 0;
      }
    }

    .faithpic {
      width: 100%;
    }
  }
}

@media screen and (min-width: 891px) and (max-width: 991px) {
  .section {
    margin-bottom: 650px;
  }
}
@media screen and (min-width: 790px) and (max-width: 890px) {
  .section {
    margin-bottom: 450px;
  }
}
@media screen and (min-width: 689px) and (max-width: 789px) {
  .section {
    margin-bottom: 250px;
  }
}
@media screen and (min-width: 588px) and (max-width: 688px) {
  .section {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 991px) {
  .ourteam-bgc {
    flex-direction: column;

    .ourteamLeft {
      margin: -70px auto;
      width: 100%;

      h3 {
        text-align: center;
        padding: 20px 30px;
      }
      h4 {
        padding: 30px 30px;
      }
    }

    .ourteamRight {
      width: 100%;
    }
  }
}

@media screen and (max-width: 576px) {
  .ourteam-bgc {
    flex-direction: column;

    .ourteamLeft {
      margin: -70px auto;
      width: 100%;

      h3 {
        text-align: center;
        padding: 20px 30px;
      }
      h4 {
        padding: 30px 30px;
      }
    }

    .ourteamRight {
      div {
        img {
          height: 70%;
        }

        .member_logo_size {
          margin-top: 17px;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  article {
    .toggleWrapper {
      .option_height {
        width: 100%;
        h3{
          font-size: 1rem;
        }
      }
      .qa_content{
        width: 100%;
        p{
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .contactWrapper {
    flex-direction: column;
    padding: 10px 0;
    .contactLeft {
      width: 100%;

      .blackLine {
        width: 70%;
      }
.address_tel{
  padding-left: 5%;
}
    }

    .contactRight {
      width: 100%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 576px) {
  .contactWrapper {
    .contactLeft {
      padding: 0;
    }

    .contactRight {
      padding: 0 60px;
      width: 100%;
      margin: 30px auto;
    }
  }
}
