// If you want to override variables do it here
@import "variables";

// Import styles
@import "node_modules/@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

// 外部資源
@import "vendors/pace-progress/pace";



.navbar-brand-full {
  width: 90%;
  height: 82%;
}

.sidebar .nav-link {
  padding-left: 14%;
  font-size: 0.9rem;
  font-family: 微軟正黑體;
}

.sidebar .nav-link .nav-icon {
  display: none;
  margin: 0;
}

.sidebar .nav-dropdown.open > .nav-dropdown-items {
  max-height: 228px;
}

.nav {
  flex-wrap: nowrap;
}

.app-header {
  height: 80px;
}

@media screen and (max-width: 1920px) {
  .header-fixed .app-body {
    margin-top: 80px;
  }
}

@media screen and (max-width: 992px) {
  .app-header .navbar-brand {
    top: 12px;
  }
}

.switch-3d .switch-slider {
  width: 50px;
  height: 28px;
}

.switch-input:checked ~ .switch-slider::before {
  transform: translateX(22px);
}

.table th,
.table td {
  border-top: 0px;
}

.table-sm th,
.table-sm td {
  padding: 12px;
  text-align: center;
}

.table {
  word-wrap: break-word;
  table-layout: fixed;
}

.upact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.updata_act {
  border: solid 1px #b1b1b1;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  margin-bottom: 0;
}

.adminName{
  font-size: 1.2rem;
}
@media (max-width: 992px) {
  .upact {
    display: inline-block;
  }
}
