@import "layout/font";
@import "layout/btn";

body{
  background-image: url(../img/back_login_pic.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width:1400px){
  body{
    height: 1000px;
    overflow-y: hidden;
  }
}
#loginBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  background-color: #fff;
  width: 370px;
  color: #38227c;
  border: 1px solid #ccc;
}
#loginBox .loginlogo {
 background-color: #e9ffcf;
}
#loginBox .loginlogo img {
  width: 105px;
  margin: 40px 0;
}
#loginBox .loginInfo {
  margin: 25px auto 17px;
}
#loginBox .loginInfo td {
  display: inline-block;
  width: 100%;
  text-align: left;
}
#loginBox .loginInfo .memInfoBox {
  margin: 8px 0;
  position: relative;
}
#loginBox .loginInfo .memInfoBox .memInfoBoxPic {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}
#loginBox .loginInfo .memInfoBox #memId,
#loginBox .loginInfo .memInfoBox #memPsw {
  color: #38227c;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: transparent;
  box-sizing: border-box;
  padding: 15px 60px;
  width: 245px;
  position: relative;
}
#loginBox .loginInfo .memInfoBox #memId:focus,
#loginBox .loginInfo .memInfoBox #memPsw:focus {
  outline: none;
  // border-color: #0b99fa;
}
#loginBox .loginInfo .memInfoBox .memInfoClear {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  visibility: hidden;
}
#loginBox .loginInfo .memInfoBox .memInfoClear:before,
#loginBox .loginInfo .memInfoBox .memInfoClear:after {
  content: "";
  background-color: #38227c;
  height: 100%;
  width: 2px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: rotate(45deg);
}
#loginBox .loginInfo .memInfoBox .memInfoClear:after {
  transform: rotate(-45deg);
}
#loginBox .loginInfo .memInfoBox .memInfoClear:hover:before,
#loginBox .loginInfo .memInfoBox .memInfoClear:hover:after {
  background-color: #0b99fa;
}
#loginBox #submitBtn {
  display: block;
  margin: auto;
  font-family: "Noto Sans TC", sans-serif;
  color: #38227c;
  width: 115px;
  box-sizing: border-box;
  padding: 12px 39px;
  font-size: 1.1rem;
  font-weight: 700;
}
#loginBox #submitBtn:hover {
  border-width: 4px 0px 0px 0px;
  border-color: #fff;
}
#loginBox #registeredBtn {
  display: inline-block;
  cursor: pointer;
  margin: 15px 0 40px;
}
#loginBox #registeredBtn:hover {
  text-decoration: underline;
  color: #0b99fa;
}

.btn.darkgreen{
  margin-bottom: 50px;
}
