// 基本設定
@import 'layout/wrapper';

//=======================================================

//格線系統
@import 'layout/grid';
//12欄
//class="col-1" 寬度為總寬度的 1/12
//class="col-6" 寬度為總寬度的 6/12
//以此類推(col-1 ~ col-12)

//=======================================================

//字體及字級設定
@import 'layout/font';
//花體英文字 class="enSpecialFont"
//標題、按鈕等會用到的襯線字體 class="titleFont"
//日期、按鈕等會用到的小字 class="smalltext"

//=======================================================

//常用顏色
@import 'layout/color';
//引用此支sass以變數使用常用色
//$darkgreen ----- 深綠色
//$lightgreen ----- 淺綠色
//$gray ----- 深灰色
//$lightgray ----- 淺灰色

//=======================================================

//header導覽列
@import 'layout/header';
@include header(fixed);

//=======================================================

//footer及page top按鈕
@import 'layout/footer';

//=======================================================

//按鈕
@import 'layout/btn';
//深綠色按鈕 class="btn darkgreen"
//淺綠色按鈕 class="btn lightgreen"
//深灰色按鈕 class="btn gray"

//=======================================================

//若子元素都為float元素，支撐父層高度
@import 'layout/fatherHeight';
//使用方式 ----- @include fatherHeight();

//=======================================================

//卡片(圓角10px/白底)
@import 'layout/card';
//使用方式 ----- @include card();

//=======================================================

//跳轉符號
@import 'layout/change';
//使用方式 ----- @include changePage();
@include changePage();


//=======================================================

//overflow時的滑動軸
@import 'layout/scrollbar';  
//使用方式 ----- @include scrollbar(要套用的物件);
//例如 ----- @include scrollbar('div.top');

//=======================================================

@import 'layout/rwd';
//使用方式 -----.div1{//電腦版 @include pc-width{padding:20px;]

//=======================================================


@import 'layout/rwd2';
//使用方式 -----.div1{//電腦版 @include pc-width{padding:20px;]

//電腦  960↑
// @mixin pc-width() {
//     @media all and (min-width: $pc-media) {
//                  @content;
//            }
//       }
  //平板 959~768
//    @mixin pad-width() {
//   @media all and (min-width:$pad-media) and (max-width: $pcs-media) {
//                   @content;
//             }
//   }
  //小平板 767~375
//    @mixin small-pad-width() {
//           @media all and (min-width: $phone-media) and (max-width:$pads-media) {
//                   @content;
//             }
//    }
  //手機 374↓
//    @mixin phone-width() {
//           @media all and (max-width: $phones-media) {
//                   @content;
//             }
//    }

//=======================================================
 

//顏色定義區(橘/灰/深橘)
$color_orange: #FA8B00;
$color_grey: #f3f3f1;
$color_blue: rgb(143, 200, 206);
$color_dark_blue: rgb(92, 157, 177);
$color_pink: rgb(228, 168, 193);
$color_yellow: #FFE18D;
$color_dark_yellow: #FFDA71;
$color_dark_grey: #4F4C4B;

//尺寸定義區 
$size_title: 25px;
$size_para: 15px;
$size_bookbtn: 42px;
$size_icon: 22px;
$size_raiser: 55px;

//尺寸
$width_class: 260px;
$height_toppart: 160px;
$height_bottompart: 184px;
$height_progressbar: 10px;
$height_pricerow: 22px;
$height_bottomorange: 5px;

//卡片bottom尺寸
$padding_class: 15px;

//=======================================================





*{
  
  position: relative;
}

html,body{
  margin: 0;
  padding: 0;
  vertical-align: center;
  

}

button[type=submit].fakeformbtn{
    margin: 0;
    text-align: left;
    width:100%;
    padding: 0;
    border: 0px;
    background-color: transparent;
    border-radius: 5px;
    color: #555;
    &:focus{
        outline: none;
    }
}


.col-12.first_row{
  display: flex;
  flex-direction: row;
  margin-top: 0;
  
 

  .col-10{
      position: relative;
      margin: 0 auto;
      
     

      .cover{

          position: relative;
          width: 100%;
          min-height: 550px;

         
          div{

              position: absolute;
              top:0;
              left: 0;
              opacity: 0;
              animation: silder 20s linear infinite;

              

              

              img{
                  max-width: 100%;
                  
      

                  
                
                  

                  @keyframes silder {
                      5% {
                          opacity: 1;
                      }
                      25% {
                          opacity: 1;
                      }
                      30% {
                          opacity: 0;
                      }
                  }
                  
                 
              }

          }

          div:nth-child(4) {
              animation-delay: 0s;
          }
          
          div:nth-child(3) {
                      animation-delay: 5s;
          }
          
          div:nth-child(2) {
                      animation-delay: 10s;
          }
          
          div:nth-child(1) {
                      animation-delay: 15s;
          }
          

          

      }

      .bubbleblue{

          // border: 1px solid salmon;
          position: absolute;
          bottom: -15%;
          right: 5%;
          animation: 5000ms bluebubbleAnimation infinite;

          @keyframes bluebubbleAnimation {
              0% { transform:translateY(20px);}
              50% {transform:translateY(30px);}
              100% {transform:translateY(20px);}

          }
          
          img{
              width: 90%;
              display: block;

          }
          
          

      }



      .bubblepink{

          // border: 1px solid rgb(33, 143, 79);
          position: absolute;
          top: 8%;
          left: 10%;
          animation: 5000ms pinkbubbleAnimation infinite;
          animation-delay:2s;

          @keyframes pinkbubbleAnimation {
              0% { transform:translateY(20px);}
              50% {transform:translateY(50px);}
              100% {transform:translateY(20px);}

          }

          img{

              width: 50%;
              display: block;

          }
          
          

      }
      

        .article{

          position: absolute;
          top:8%;
          right: 15%;
          display: flex;
          height: 100%;
          
           // opacity: 0.5;

          h1.first{

              color: #555555;
              writing-mode: vertical-rl;
              // box-shadow: 3px 3px 10px #cfcfcfcf;
           
  
          }

          p{
           
              color: #555555;
              writing-mode: vertical-rl;
              font-size: 16px;
              padding-top: 60%;

          }

       }
  }


        
          // img{
          //     width: 15%;
          //     position: absolute;
          //     left: 66%;
          //     bottom: 29%;
          //     animation: 3000ms sparkleAnimation ease-out infinite;
              
            
          // }

          @keyframes sparkleAnimation {
              0%{
                  opacity: 1;
                  transform: scale(1);
              }

              25%{
                  opacity: 0.3;
                  transform: scale(0.5);
                  
              }


              50%{
                  opacity: 0.5;
                  transform: scale(0.7);
                  
              }

              75%{
                  opacity: 0.8;
                  transform: scale(0.7);
                  
              }
              100%{
                  opacity: 1;
                  transform: scale(1);
              }
          }
  
        
}


.sparkle{
    position: absolute;
    right: 0;
    bottom: 100px;
    animation: 3000ms sparkleAnimation infinite;
    animation-delay:2s;
    img{
        display: block;
        width: 100%;
    }
    @keyframes sparkleAnimation {
        0%{
            opacity: 1;
            transform: scale(1);
        }

        25%{
            opacity: 0.3;
            transform: scale(0.5);
            
        }


        50%{
            opacity: 0.5;
            transform: scale(0.7);
            
        }

        75%{
            opacity: 0.8;
            transform: scale(0.7);
            
        }
        100%{
            opacity: 1;
            transform: scale(1);
        }
    }

}

img.mobile{
    display: none;
}


//流浪不是牠們的錯

.second_row{
  display: flex;
  margin-top: 20%;

  .col-8{
      display: flex;
      margin: 0 auto;
      flex-direction: row-reverse;
      max-width: 1200px;
      .col-6.content{
          .article{
              height: 100%;
              position: relative;
              margin-left: 10%;

              h2{
                  margin-left: 8%;
                  padding-top: 5%;
                  color: #555555;
                  
                  
              }
  
              p{
                  margin-top: 1%;
                  margin-left: 8%;
                  color: #555555;
                  
  
              }

              p.first{
                  margin-top: 5%;
                  
  
              }

  
              p.total.titleFont.first{
                  
                  margin-top: 10%;
              }

              span.total.titleFont{
                  font-size: 35px;
                  color: #76912E;

              }

              .bubble1{
                  position: absolute;
                  right: 15%;
                  top: 5%;
                  z-index: -1;
                  
                  

                  img{
                      width: 45%;
                      animation: 12000ms greenbubbleAnimation linear infinite ;
                      transform-origin:center 50%;

                      @keyframes greenbubbleAnimation {
                          from {
                              transform: rotate(360deg);
                          }
                          to {
                              transform: rotate(0deg);
                          }

                      }
                  }

              }

              .bubble2{
                  position: absolute;
                  right: 20%;
                  top: 5%;
                  z-index: -1;
                  

                  img{
                      width: 50%;
                      animation: 10000ms greenbubbleAnimation linear infinite ;
                      transform-origin:center 50%;

                      @keyframes greenbubbleAnimation {
                          from {
                              transform: rotate(0deg);
                          }
                          to {
                              transform: rotate(360deg);
                          }

                      }
                  }

              }

              

          }

          
          }

          

          

      }
     
  
      .col-6.img{

          // border: 1px solid salmon;
          // padding-top: 5%;
          
          img{
              width: 100%;
              display: block;
              
          }
      }

  }


.projectrow{
    margin: 0 auto;

    .tab_container{
        justify-content: center;
        margin-top: 10%;
        .tab_list_block{
            padding-left:20px;
            text-align: center;
            ul.tab_list{
                list-style: none;
                display: inline-block;
                margin: 0;
                padding: 0;
                li{
                    display: inline-block;
                    margin-left: 30px;
                    a{
                        text-decoration: none;
                        display: inline-block;
                        padding: 2px 20px;
                        cursor: pointer;
                        color: #555555;
                        font-size: 1.3rem;
                        position: relative;
                        top: 2px;
                    }
                    .-on{
                        color: #76912E;
                        background-image: url(../img/donation/little_green_bubble.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                    
                }
            }
        }
    }
}


.tab_contents{
    padding-top: 100px;
    .tab{
        padding: 10px;
        display: none;   
    }
    .-on{
        display: block;
    }
}


#app,#app2,#app3{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}


.donationcardbox{
  width: $width_class;
  background-color: white;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
  color: $color_dark_grey;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin: 40px 20px;
  cursor: pointer;
  
  &:hover{
    // .heartbtn{
    //   bottom: 10px;
    // }
    .donationpic{
      transform: scale(1.13);
    }
    .bottom .valuebar{
      width: 100%;
    }
  }
  
  .raiser{
    width: $size_raiser;
    height: $size_raiser;
    position: absolute;
    left: $padding_class;
    top: -$size_raiser/2;
    border-radius: 50%;
    background-size: cover;
    border: solid 2px white;
    z-index: 5;
    background-color: white;
  }
  

}

.top{
  height: $height_toppart;
  overflow: hidden;
  .tag{
    transform: translateX(95px) translateY(20px) rotate(45deg);
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    background-color: $color_blue;
    color: white;
    font-weight: 700;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
  }
  
  .donationpic{   
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0px;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    transition: .3s;
    
  }
  
//   .heartbtn{
//     width: 42px;
//     height: 42px;
//     border-radius: 50%;
//     position: absolute;
//     left: $padding_class;
//     bottom: -50px;
//     background-color: #EE7785;
//     box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
//     cursor: pointer;
//     transition: .3s;
    
//     &:hover{
//       background-color: white;
//       i{
//         color: #EE7785;
        
//       }
      
//     }
    
//     i{
//       position: absolute;
//       left: 50%;
//       top: 50%;
//       transform: translate(-50%,-50%);
//       font-size: $size_icon;
//       color: white;
      
//     }
    
   

//   }
  

}

.bottom{
  height: $height_bottompart;
  padding: $padding_class;

  h3{
      border: 1px solid transparent;
  }
  
  .donationtitle{
    margin-top: 0;
    letter-spacing: 2.5px;
      
  }
  
  .texts{
    font-size: $size_para;
    letter-spacing: 1px;
    margin-top: 5px;
      .orange{
        padding-left: 5px;
        color: $color_blue;
        }
  }
  
  .statusrow{
    margin-bottom: 10px;
    .lastday{
      position: absolute;
      top: 0;
      right: 0;

    }
    
  }
  
  .progressbar{
    
    height: 10px;
    margin-bottom: 10px;
    background-color: darken($color_grey,6);
    border-radius: 5px;
    overflow: hidden;
    
    .valuebar{
      width: 100px;
      height: 100%;
      background-color: $color_blue;
      border-radius: 5px 0px 0px 5px;
      transition: .5s;
      
    }

  }
  
  .goal{
    
    text-align:center;
    

  }
  
  .bottombar{
    
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $color_blue;
    border-radius: 0px 0px 5px 5px;

  }
    
  
}

#app2{
    .tag, .bottombar,.valuebar{
        background-color: $color_pink;
      
    }
    .orange{
        color: $color_pink;
    }


}

#app3{
    .tag, .bottombar,.valuebar{
        background-color: #aad38f;
      
    }
    .orange{
        color: #aad38f;
    }


}

//=======================================================浪愛回家從我開始
.col-12.fromme{
    display: flex;
    margin-top: 10%;
    padding-bottom: 15%;
    overflow: hidden;
    height: 100%;
    
    


    .col-8.content{
        margin: 0 auto;
        display: flex;
        position: relative;
         

        .col-7.img{
            
            margin-top: 3%;
            

            img{
                width: 100%;
                display: block;
                border-radius: 10px;
                
            }

            
            
        }

        .bubblepink{
            position: absolute;
            z-index: 5;
            right: -5%;
            top: 60%;
            animation: 5000ms pinkbubbleAnimation linear infinite ;

                @keyframes pinkbubbleAnimation {
                    0% { transform:translateY(30px) ;}
                    50% {transform:translateY(70px);}
                    100% {transform:translateY(30px);}
                }
            img{
                width: 80%;
                display: block;
            }
        }

        
        .col-5.article{

            position: relative;
        
            h2{
                // margin-left: 10%;
                padding-top: 10%;
                color: #555555;
                
                
            }
    
            p{
                // letter-spacing: 4px;
                margin-top: 1%;
                // margin-left: 10%;
                color: #555555;
                font-size: 1rem;
                
    
            }
    
            p.first{
                margin-top: 5%;
                // letter-spacing: 4px;
                
    
            }
    
            .frommebutton{
                // margin-left: 10%;
                margin-top: 10%;
            }
    
            .irasuto{
                // border: 1px solid salmon;
               
                position: absolute;
                top: 5%;
                right: 18%;
                z-index: 5;
                img{
                    margin-left: 70%;
                    width: 65%;
                    display: block;
                    z-index: 5;
                }
    
                
            }

            .bubbleyellow{
                position: absolute;
                top: 25%;
                left: 30%;
                z-index: -5;
                animation: 12000ms yellowbubbleAnimation linear infinite ;
                transform-origin:center 50%;

                    @keyframes yellowbubbleAnimation {
                        from {
                            transform: rotate(360deg);
                        }
                        to {
                            transform: rotate(0deg);
                        }
                    }

                
                img{
                    width: 100%;
                }
            }
    
        }

    }
    
}



//=======================================================捐款常見問題

.col-12.faq{
    background-image: url(../img/donation/graybg.png);
    overflow: hidden;
    position: relative;
  
    

    .col-12.faqtitle{
        justify-content: center;
        display: inline-flex;
        margin-bottom: 150px;
        margin-top: 100px;
        position: relative;
        
        h1{
            text-align: center;
            z-index: 5;
        }

    }

    .littlebubbleblue{
        position: absolute;
        right: 40%;
        top: 9%;
        z-index: 0;
        animation: 8000ms littlebluebubbleAnimation linear infinite ;
        transform-origin:center 50%;

            @keyframes littlebluebubbleAnimation {
                from {
                    transform: rotate(360deg);
                }
                to {
                    transform: rotate(0deg);
                }
            }
        img{
            width: 100%;
        }
    }

    .bubbleyellow{
        position: absolute;
        right: 38%;
        top: 10%;
        z-index: 0;
        animation: 15000ms yellowbubbleAnimation linear infinite ;
        transform-origin:center 50%;

            @keyframes yellowbubbleAnimation {
                from {
                    transform: rotate(360deg);
                }
                to {
                    transform: rotate(0deg);
                }
            }

        img{
            width: 100%;
        }
    }

    

    .col-8.faqcontent{
        margin: 0 auto;
        position: relative;

        .irasutoqadog{
            position: absolute;
            left: 78%;
            top: -10%;
            .img{
                display: block;
                width: 100%;
            }
        }

        .orangebubble{
            position: absolute;
            left: -10%;
            bottom: -10%;
            animation: 10000ms orangebubbleAnimation linear infinite ;
            transform-origin:center 50%;

            @keyframes orangebubbleAnimation {
                0% { transform:translateY(30px) ;}
                50% {transform:translateY(60px);}
                100% {transform:translateY(30px);}
            }
            img{
                width: 50%;
                display: block;
            }
        }

    
        .zoneQA{
            margin-bottom: 3%;
            .ques{
                background: transparent;
                color: #76912E;
                margin-bottom: 0;
                padding: 10px 0 10px 55px;
                position: relative;
                cursor: pointer;
                border: 1px solid #76912E;
                font-family: "Noto Sans TC";
                font-weight: 400;
                font-size: 18px;
                transition: ease-in 0.5s;
                span{
                    position: absolute;
                    right: 0;
                    margin-right: 20px;
                    i{
                        transform: rotate(-45deg);
                        font-size: 0.8em;
                        color: #76912E;
                    }
                }
               
    
              }
        
            //   .ques:hover{
            //     background: #76912E;
            //     color: white;
            //     transition: ease-in 0.3s;
                      
            //   }
    
              .ques.active{
                background: #76912E;
                color: white;
                // transition: ease-in 0.5s;
                      
              }
    
            //   .ques.active::before{
            //     content: '+';
            //     transform: rotate(-45deg);
            //     transition: ease-in 0.5s;
            //     transition: ease-in 0.5s;
    
            //   }
            //   .ques::before{
            //     content: '+';
            //     position: absolute;
            //     top: 0;
            //     right: 2%;
            //     bottom: 0;
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;
            //     transition: ease-in 0.5s;
            //   }
        
        
            
              
              .ans{
                margin: 0;
                padding: 30px 55px 30px 55px;
                border: 1px solid #76912E;
                border-top:none;
                display: none;

                color: #555555;
                // background-color: white;
              }
        
              
        
    
        }
    

    }

    
}


.col-12.footercar{
        position: relative;
        width: 100%;
        height: 100px;
        padding-bottom: 20%;
        
        
        .footercarimg{
            position: absolute;
            bottom: 0%;
            
           
            
            
    
            img{
                width: 100%;
                display: block;
                
            }
        }
    
            animation-name:carAnimation;		
            animation-duration:10s;			
            animation-iteration-count:infinite;		
            animation-timing-function:linear;	
    
        @keyframes carAnimation
         {
            0% { left:0%; }		
            100% { left:100%; }	
         }
    }


// rwd

//rwd 959~768px==============================
.col-12.first_row{

    @include pad-width{

        .col-10{

            width: 100%;

            .bubbleblue{
                bottom: 40px;
    
            }

        }
        

    }

}

.col-12.second_row{
    @include pad-width{
        margin-top: 100px;
        .col-8{
            width: 90%;
        }
        .col-6.content{
            .article{
                margin-left: 0px;

            }

        }

    }

}

.projectrow.col-12{
    @include pad-width{
        .tab_contents{
            padding-top: 60px;

            .donationcardbox{
                margin: 40px 55px;
            }
        }
        

    }

}

.col-12.fromme{

    @include pad-width{
        .col-8.content{
            width: 80%;
            .col-7.img{
                margin-top: 80px;
            }
            .bubblepink{
                top:150px;
                
            }
        }
    }

}

.col-12.faq{
    @include pad-width{
        .col-12.faqtitle{
            margin-bottom: 100px;
    
        }
        .col-8.faqcontent{
            width: 82%;
        }

    }

    
}


//rwd 767~375px==============================
// .hei{
//     @include small-pad-width{
//         display: none;
//     }

// }

.col-12.first_row{

    @include small-pad-width{

        .col-10{

            width: 100%;

            .cover{
                display: none;
            }

            .bubbleblue{
                bottom: 40px;
    
            }
            img.mobile{
                display: block;
                width: 100%;
            }
            .article{
                right: 30px;
            }

        }
        

    }

}

.col-12.second_row{
    @include small-pad-width{
        margin-top: 50px;
        .col-8{
            width: 90%;
            flex-direction: column;
        }
        .col-6.content{
            width: 100%;
            .article{
                margin-left: 0px;
                h2,p{
                    margin-left: 0px;
                    

                }
                

            }

        }
        .col-6.img{
            width: 90%;
            margin-top: 30px;
        }

    }

}

.projectrow.col-12{
    @include small-pad-width{
        .tab_container{
            margin-top: 50px;

            .tab_list_block{
                padding-left: 0px;
                

                ul.tab_list{
                    li{
                        margin-left: 0px;
                        a{
                            padding-left: 8px;
                            padding-right: 8px;
                            font-size: 20px;
                        }
                    }

                }
    
            }
            .tab_contents{
                padding-top: 20px;
    
                .donationcardbox{
                    margin: 40px 55px;
                    h3{
                        font-size: 20px;

                    }
                }
            }

        }
        
        
        

    }

}

.col-12.fromme{

    @include small-pad-width{
        .col-8.content{
            width: 90%;
            display: flex;
            flex-direction: column-reverse;
            .col-5.article{
                width: 100%;
                .irasuto{
                    right: 25%;

                }
            }
            .col-7.img{
                width: 100%;
            }
            .bubblepink{
                img{
                    width: 40%;
                }
                top:65px;
                right: -150px;
                
            }
        }
    }

}

.col-12.faq{
    @include small-pad-width{
        .col-12.faqtitle{
            margin-bottom: 30px;
            margin-top: 30px;

            h1{
                font-size: 2em;
            }
    
        }
        .littlebubbleblue{
            top: 1%;
        }
        .bubbleyellow{
            top: 2%;
        }
        .col-8.faqcontent{
            width: 85%;
            .zoneQA{
                padding: 10px 10px 10px 10px;
                h3.ques{
                    font-size: 1em;
                    padding: 15px 15px 15px 15px;
                    background-color: #76912E;
                    color: white;
                    span{
                        display: none;
                    }
                    
                }
                p.ans{
                    display: block;
                    padding: 15px 15px 15px 15px;
                }

            }
            .irasutoqadog{
                display: none;
            }
        }

    }

    
}


//rwd 374px==============================
// .hei{
//     @include phone-width{
//         display: none;
//     }

// }

.col-12.first_row{

    @include phone-width{

        .col-10{

            width: 100%;

            .cover{
                display: none;
            }

            .bubbleblue{
                bottom: 40px;
    
            }
            img.mobile{
                display: block;
                width: 100%;
            }
            .article{
                right: 30px;
            }

        }
        

    }

}

.col-12.second_row{
    @include phone-width{
        margin-top: 50px;
        .col-8{
            width: 90%;
            flex-direction: column;
        }
        .col-6.content{
            width: 100%;
            .article{
                margin-left: 0px;
                h2,p{
                    margin-left: 0px;
                    

                }
                

            }

        }
        .col-6.img{
            width: 90%;
            margin-top: 30px;
        }

    }

}

.projectrow.col-12{
    @include phone-width{
        .tab_container{
            margin-top: 50px;

            .tab_list_block{
                padding-left: 0px;
                

                ul.tab_list{
                    li{
                        margin-left: 0px;
                        a{
                            padding-left: 8px;
                            padding-right: 8px;
                            font-size: 18px;
                        }
                    }

                }
    
            }
            .tab_contents{
                padding-top: 20px;
    
                .donationcardbox{
                    margin: 40px 55px;
                    h3{
                        font-size: 20px;
                    }
                }
            }

        }
        
        
        

    }

}



.col-12.fromme{

    @include phone-width{
        .col-8.content{
            width: 90%;
            display: flex;
            flex-direction: column-reverse;
            .col-5.article{
                width: 100%;
                .irasuto{
                    right: 25%;

                }
            }
            .col-7.img{
                width: 100%;
            }
            .bubblepink{
                img{
                    width: 40%;
                }
                top:65px;
                right: -150px;
                
            }
        }
    }

}

.col-12.faq{
    @include phone-width{
        .col-12.faqtitle{
            margin-bottom: 30px;
            margin-top: 30px;

            h1{
                font-size: 2em;
            }
    
        }
        .littlebubbleblue{
            top: 1%;
        }
        .bubbleyellow{
            top: 2%;
        }
        .col-8.faqcontent{
            width: 85%;
            .zoneQA{
                padding: 10px 0 10px 10px;
                h3.ques{
                    font-size: 1em;
                    padding: 15px 0 15px 15px;
                    background-color: #76912E;
                    color: white;
                    span{
                        display: none;
                    }
                    
                }
                p.ans{
                    display: block;
                    padding: 15px 0 15px 15px;
                }

            }
            .irasutoqadog{
                display: none;
            }
        }

    }

    
}











    