@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,900");
@import 'layout/font';

html {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* LOADER */
.loader {
  background-color: #ffffff;
  position: fixed;
  display: block;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  z-index: 999;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
}
.loader .lds-ripple {
  position: absolute;
  display: block;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader .lds-ripple div {
  position: absolute;
  /* border: 4px solid #B3001B; */
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader .lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
.loader.is-loaded {
  opacity: 0;
  visibility: hidden;
  z-index: -99;
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
/* HEADER */

header .header-inner {
  padding: 16px 1.5%;
}
@media screen and (max-width: 768px) {
  header .header-inner {
    padding: 16px 16px 0;
  }
}
@media screen and (max-width: 640px) {
  header .header-inner {
    padding: 16px 16px 0 16px;
  }
}

@media screen and (max-width: 360px) {
  header .header-inner .logo a {
    line-height: 24px;
  }
}
header .header-inner .logo a:hover {
  color: rgba(36, 36, 36, 0.45);
}
header .header-inner .logo a span {
  font-weight: 700;
}
header .header-inner .header-headline {
  position: absolute;
  display: block;
  width: 180px;
  height: auto;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
@media screen and (max-width: 768px) {
  header .header-inner .header-headline {
    display: none;
  }
}
header .header-inner .header-headline p {
  text-transform: lowercase;
  margin: 0;
  line-height: 20px;
  font-weight: 600;
  transition: all 0.35s ease-in-out;
}
header .header-inner nav {
  position: relative;
  display: inline;
  margin: 0;
  padding: 0;
  
}
header .header-inner nav li {
  position: relative;
  display: inline;
  margin-left: 16px;
}
@media screen and (max-width: 360px) {
  header .header-inner nav li {
    margin-left: 8px;
  }
}
header .header-inner nav li a {
  font-family: "Montserrat", sans-serif;
  position: relative;
  font-size: 13px;
  color: #000000;
  text-decoration: none;
  line-height: 44px;
  transition: all 0.35s ease-in-out;
}
@media screen and (max-width: 360px) {
  header .header-inner nav li a {
    font-size: 11px;
    line-height: 24px;
  }
}
header .header-inner nav li a span {
  position: relative;
  z-index: 2;
}
header .header-inner nav li a:hover {
  color: rgba(0, 0, 0, 0.45);
}
header.active-header {
  background-color: transparent;
}
header.active-header .logo a {
  color: #ffffff;
}
header.active-header .header-headline p {
  color: #ffffff;
}
header.active-header nav li a {
  color: #ffffff;
}

/* MAIN */
main {
  position: relative;
  display: block;
  z-index: 1;
  /* background-color: #b3001b; */
  /* padding-top: 30px; */
  padding-bottom: 75px;
  background-image: url(../img/donation-bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main.coidea-fullpage section.wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  will-change: transform;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 2;
  cursor: pointer;
}
main.coidea-fullpage section.wrapper .bg {
  position: relative;
  display: block;
  width: 100%;
  height: 80vh;
  margin-top: 10vh;
}
@media screen and (max-width: 640px) {
  main.coidea-fullpage section.wrapper .bg {
    height: 45vh;
    margin-top: 22vh;
  }
}
main.coidea-fullpage section.wrapper .bg .bcg {
  position: relative;
  display: block;
  width: 100%;
  max-width: 420px;
  /* height: 100%; */
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width: 640px) {
  main.coidea-fullpage section.wrapper .bg .bcg {
    max-width: 320px;
  }
}
@media screen and (max-width: 480px) {
  main.coidea-fullpage section.wrapper .bg .bcg {
    max-width: 120px;
  }
}
main.coidea-fullpage section.wrapper .bg .el {
  position: absolute;
  display: block;
  width: 100%;
  /* height: 100%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
main.coidea-fullpage section.wrapper .bg .el .content {
  mix-blend-mode: color-burn;
  position: absolute;
  display: block;
  width: 200%;
  top: 50%;
  left: -50%;
  text-align: center;
  transform: translateY(-50%);
}
main.coidea-fullpage section.wrapper .bg .el .content span {
  /* font-size: 40vw; */
  letter-spacing: 0;
  font-weight: 600;
  /* font-kerning: normal;
  color: #B3001B; */
  font: 3rem "Candelia";
  color: #5d5c5c;
}
main.coidea-fullpage section.wrapper .bg .el .content .description {
  position: relative;
  display: block;
  width: 100%;
  width: calc(100% - 32px);
  max-width: 580px;
  margin: 0 auto;
  padding: 0 16px;
  height: 0px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  margin-top: 64px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  main.coidea-fullpage section.wrapper .bg .el .content .description {
    max-width: 374px;
    max-height: 180px;
  }
}
@media screen and (max-width: 640px) {
  main.coidea-fullpage section.wrapper .bg .el .content .description {
    margin-top: -29px;
    transform: matrix(1, 0, 0, 1, 0, 102) !important;
  }
  .title {
    padding-bottom: 16%;
  }
  .circle {
    width: 140px;
    height: 140px;
  }
}
main.coidea-fullpage section.wrapper .bg .el .content .description p {
  color: #b3001b !important;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  main.coidea-fullpage section.wrapper .bg .el .content .description p {
    font-size: 16px;
  }
}
main.coidea-fullpage section.wrapper .bg .el .content.active {
  mix-blend-mode: normal;
}

span.active {
  mix-blend-mode: color-burn;
}
/* FOOTER */
footer {
  position: fixed;
  display: block;
  width: 220px;
  z-index: 100;
  left: 50%;
  margin-left: -110px;
  bottom: 16px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width: 640px) {
  footer {
    bottom: 64px;
  }
}
footer nav.anchor-nav a {
  background-color: #b3001b;
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 18px;
  border: 2px solid #b3001b;
  transition: all 0.7s ease-in-out;
  margin: 4px;
}
footer nav.anchor-nav a.active {
  background-color: transparent;
}
footer .contact-us {
  position: relative;
  display: block;
  width: 180px;
  height: auto;
  float: right;
}
footer.active-footer {
  opacity: 1;
  visibility: visible;

  /* border:  5px solid red; */
  /* width: 100%; */
}

article {
  height: 500px;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
}

.circle {
  width: 150px;
  height: 150px;
  /* border: 1px solid red; */
  border-radius: 50%;
  background-color: rgba(220, 241, 194, 0.7);
  display: inline-block;
  mix-blend-mode: normal;
  line-height: 150px;
  animation: cir 5s linear infinite alternate; 
  transition: 0.6s linear;
}

.circle:hover{
  background-color:rgba(143, 185, 92, 0.9); 
}

@keyframes cir{
  from{margin-top:0px}
  to{margin-top:100px}
}


.circle h1 {
  margin: 0 auto;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-family: "DM Serif Text", "Noto Serif TC";
}


@media screen and (min-width: 576px) and (max-width: 768px) {
  main.coidea-fullpage section.wrapper .bg .el .content span {
    font-size: 2.5rem !important;
  }
}

@media screen and (min-width: 475px) and (max-width: 575px) {
  main.coidea-fullpage section.wrapper .bg .el .content span {
    font-size: 2.2rem !important;
  }
}

@media screen and (max-width: 474px) {
  main.coidea-fullpage section.wrapper .bg .el .content span {
    font-size: 1.5rem !important;
  }
}
