// 基本設定
@import "layout/wrapper";

//=======================================================

//RWD的格線系統
@import "layout/rwd";
//12欄
// xs (min-width: 375px)
// ss (min-width: 414px)
// sm (min-width: 576px)
// md (min-width: 768px)
// lg (min-width: 992px)
// xl (min-width: 1200px)

//=======================================================

//字體及字級設定
@import "layout/font";
//花體英文字 class="enSpecialFont"
//標題、按鈕等會用到的襯線字體 class="titleFont"
//日期、按鈕等會用到的小字 class="smalltext"

//=======================================================

//常用顏色
@import "layout/color";
//引用此支sass以變數使用常用色
//$darkgreen ----- 深綠色
//$lightgreen ----- 淺綠色
//$gray ----- 深灰色
//$lightgray ----- 淺灰色

//=======================================================

//header導覽列
@import "layout/header";
@include header(sticky);

//=======================================================

//footer及page top按鈕
@import "layout/footer";

//=======================================================

//按鈕
@import "layout/btn";
//深綠色按鈕 class="btn darkgreen"
//淺綠色按鈕 class="btn lightgreen"
//深灰色按鈕 class="btn gray"

//=======================================================

//若子元素都為float元素，支撐父層高度
@import "layout/fatherHeight";
//使用方式 ----- @include fatherHeight();

//=======================================================

//卡片(圓角10px/白底)
@import "layout/card";
//使用方式 ----- @include card();

//=======================================================

//跳轉符號
@import "layout/change";
//使用方式 ----- @include changePage();
@include changePage();

//=======================================================

//overflow時的滑動軸
@import "layout/scrollbar";
//使用方式 ----- @include scrollbar(要套用的物件);
//例如 ----- @include scrollbar('div.top');

//=======================================================

// 燈箱
@import "map_animation/mapLightbox";

@import "map_animation/mapSlideshow";

//=======================================================

body {
  background-image: url(../img/paper/ricepaper2.png);
}

.map_container {
  p {
    margin: 15px 0;
  }
  label {
    font-size: 1.1rem;
    vertical-align: middle;
  }
  input:focus,
  select:focus,
  option:focus {
    outline: none;
  }

  // ================ <!-- 第一屏 Banner--> ================
  .map_banner {
    position: relative;
    height: 350px;
    overflow: hidden;
    .map_banner_bg {
      background-image: url(../img/map_banner_bg.jpg);
      background-position: center -120px;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
      filter: opacity(0.9);
    }
    .map_EN_title {
      color: rgba(255, 211, 115, 0.2);
      text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
      text-align: right;
      margin-top: 3%;
      margin-right: 20%;
    }
    .map_CH_title {
      text-align: right;
      text-shadow: 2px 2px 2px rgba(77, 77, 77, 0.5);
      margin-top: -3%;
      margin-right: 17%;
      color: white;
    }
    @media (max-width: 1200px) {
      .map_banner_bg {
        background-position: center;
      }
    }
    @media (max-width: 414px) {
      height: 200px;
      .map_EN_title {
        margin-top: 50px;
        margin-right: 0%;
        font-size: 1.3rem;
        text-align: center;
      }
      .map_CH_title {
        margin-top: -40px;
        margin-right: 0%;
        text-align: center;
        font-size: 1.6rem;
      }
    }
  }

  // ================ <!-- 第二屏introduction--> ================
  .map_intro {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    padding: 230px 10% 0;
    flex-wrap: nowrap;
    position: relative;
    .map_lostdogGirl {
      position: absolute;
      top: 0px;
      right: 100px;
      img {
        transform: scale(0.85);
      }
      img:nth-child(1) {
        margin-right: -65px;
        margin-bottom: 5px;
      }
    }
    .map_introcontent {
      position: relative;
      width: 40%;
      .map_intro_boyndog {
        margin-left: -50px;
        margin-top: -150px;
        transform: scale(0.55);
        opacity: 0.9;
      }
      div {
        padding: 20px 30px;
        margin-bottom: 40px;
        line-height: 2rem;
      }
      div:nth-child(2) {
        background-color: rgba(255, 255, 255, 0.8);
        // margin-left: -80px;
        width: 80%;
      }
      div:nth-child(3) {
        background-color: rgba(255, 255, 255, 0.8);
        position: absolute;
        left: 200px;
        width: 80%;
        z-index: 2;
        transition: all 0.5s;
      }
      .map_introCircle {
        width: 125px;
        height: 125px;
        line-height: 125px;
        background-color: lightgreen;
        border-radius: 50%;
        text-align: center;
        padding: 0;
        display: inline-block;
      }
      .map_introCircle_1 {
        position: absolute;
        top: 330px;
        left: -50px;
        animation: bubble 1s linear infinite alternate-reverse;
      }
      .map_introCircle_2 {
        position: absolute;
        top: 480px;
        left: 50px;
        animation: bubble 1s 0.5s linear infinite alternate-reverse;
      }
      .map_introCircle_1::after,
      .map_introCircle_2::after {
        content: "";
        position: absolute;
        bottom: 10px;
        width: 1px;
        height: 1px;
        border-bottom: 10px solid transparent;
        border-left: 15px solid lightgreen;
        border-top: 10px solid transparent;
        // border-right: 25px transparent;
        transform: rotate(30deg);
      }
      @keyframes bubble {
        0% {
          border-radius: 45% 48% 43% 47%;
          transform: rotate(3deg);
        }
        100% {
          border-radius: 41% 42% 40% 39%;
        }
      }
      .map_intro_dog {
        padding-right: 80px;
        text-align: right;
        margin-top: 300px;
        // border: 1px solid red;
        // margin-left: -80px;
        img {
          max-height: 130px;
        }
        img:nth-child(1) {
          animation: leftleaf 1.2s infinite ease-in-out alternate-reverse;
        }
        img:nth-child(3) {
          animation: leftleaf 1.4s 0.8s infinite ease-in-out alternate-reverse;
        }
        @keyframes leftleaf {
          0% {
            transform: rotate(1deg) skew(1deg);
          }
          100% {
            transform: rotate(-1deg) scale(0.98);
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .map_intro {
      padding: 230px 3% 0;
      .map_introcontent {
        div {
          padding: 15px 20px;
          margin-bottom: 20px;
          line-height: 2rem;
        }
        div:nth-child(2) {
          width: 100%;
        }
        div:nth-child(3) {
          background-color: rgba(255, 255, 255, 0.8);
          position: absolute;
          left: 100px;
          width: 100%;
          z-index: 2;
        }
        .map_introCircle {
          width: 100px;
          height: 100px;
          line-height: 100px;
        }
        .map_introCircle_1 {
          position: absolute;
          top: -165px;
          left: 42%;
        }
        .map_introCircle_2 {
          position: absolute;
          top: -80px;
          left: 65%;
        }
        .map_introCircle_1::after,
        .map_introCircle_2::after {
          position: absolute;
          bottom: 10px;
          left: -4px;
        }
        .map_intro_dog {
          margin-top: 250px;
          padding-right: 20px;
        }
      }
    }
  }
  @media (max-width: 992px) {
    .map_intro {
      padding: 230px 0 0;
      flex-wrap: wrap;
      .map_introcontent {
        width: 100%;
        padding: 0 50px;
        .map_intro_boyndog {
          display: none;
        }
        .map_introCircle {
          width: 100px;
          height: 100px;
          line-height: 100px;
        }
        .map_introCircle_1 {
          position: absolute;
          top: 60%;
          left: 10%;
        }
        .map_introCircle_2 {
          position: absolute;
          top: 70%;
          left: 30%;
        }
        .map_introCircle_1::after,
        .map_introCircle_2::after {
          position: absolute;
          bottom: 10px;
          left: 90%;
        }
        .map_intro_dog {
          margin-top: 200px;
        }
      }
    }
  }
  @media (max-width: 414px) {
    .map_intro {
      padding: 160px 0 0;
      .map_lostdogGirl {
        position: absolute;
        top: -30px;
        right: 20px;
        img {
          transform: scale(0.4);
        }
        img:nth-child(1) {
          margin-right: -117px;
          margin-bottom: 30px;
        }
      }
      .map_introcontent {
        div:nth-child(2) {
          margin-bottom: 100px;
        }
        div:nth-child(3) {
          position: relative;
          left: 0;
          width: 100%;
          z-index: -1;
        }
        .map_introCircle_1 {
          top: -11%;
          left: 0%;
        }
        .map_introCircle_2 {
          top: 26%;
          left: 75%;
        }
        .map_introCircle_2::after {
          position: absolute;
          bottom: 10px;
          left: 0%;
        }
        .map_intro_dog {
          margin-top: 50px;
        }
      }
    }
  }
  .map_pawprint {
    text-align: center;
    height: 30px;
    width: 50%;
    position: relative;
    margin: 100px auto 0;
    // border: 1px solid red;
    @media (max-width: 414px) {
      width:90%;
    }
    img {
      width: 20px;
      position: absolute;
      top: 5px;
      left: 5%;
      animation: map_pawprint 20s infinite linear;
      -webkit-animation: map_pawprint 20s infinite linear;
    }
    @keyframes map_pawprint {
      0% {
        left: 10%;
        opacity: 1;
        transform: rotate(90deg);
        top: 5px;
      }
      4% {
        left: 10%;
        opacity: 0;
        transform: rotate(90deg);
        top: 5px;
      }
      5% {
        left: 20%;
        opacity: 0;
        transform: rotate(90deg);
        top: 20px;
      }
      6% {
        left: 20%;
        opacity: 1;
        transform: rotate(90deg);
        top: 20px;
      }
      9% {
        left: 20%;
        opacity: 0;
        transform: rotate(90deg);
        top: 20px;
      }
      10% {
        left: 30%;
        opacity: 0;
        transform: rotate(90deg);
        top: 5px;
      }
      11% {
        left: 30%;
        opacity: 1;
        transform: rotate(90deg);
        top: 5px;
      }
      14% {
        left: 30%;
        opacity: 0;
        transform: rotate(90deg);
        top: 5px;
      }
      15% {
        left: 40%;
        opacity: 0;
        transform: rotate(90deg);
        top: 20px;
      }
      16% {
        left: 40%;
        opacity: 1;
        transform: rotate(90deg);
        top: 20px;
      }
      19% {
        left: 40%;
        opacity: 0;
        transform: rotate(90deg);
        top: 20px;
      }
      20% {
        left: 50%;
        opacity: 0;
        transform: rotate(90deg);
        top: 5px;
      }
      21% {
        left: 50%;
        opacity: 1;
        transform: rotate(90deg);
        top: 5px;
      }
      24% {
        left: 50%;
        opacity: 0;
        transform: rotate(90deg);
        top: 5px;
      }
      25% {
        left: 60%;
        opacity: 0;
        transform: rotate(90deg);
        top: 20px;
      }
      26% {
        left: 60%;
        opacity: 1;
        transform: rotate(90deg);
        top: 20px;
      }
      29% {
        left: 60%;
        opacity: 0;
        transform: rotate(90deg);
        top: 20px;
      }
      30% {
        left: 70%;
        opacity: 0;
        transform: rotate(90deg);
        top: 5px;
      }
      31% {
        left: 70%;
        opacity: 1;
        transform: rotate(90deg);
        top: 5px;
      }
      34% {
        left: 70%;
        opacity: 0;
        transform: rotate(90deg);
        top: 5px;
      }
      35% {
        left: 80%;
        opacity: 0;
        transform: rotate(90deg);
        top: 20px;
      }
      36% {
        left: 80%;
        opacity: 1;
        transform: rotate(90deg);
        top: 20px;
      }
      39% {
        left: 80%;
        opacity: 0;
        transform: rotate(90deg);
        top: 20px;
      }
      40% {
        left: 90%;
        opacity: 0;
        transform: rotate(270deg);
        top: 5px;
      }
      41% {
        left: 90%;
        opacity: 1;
        transform: rotate(270deg);
        top: 5px;
      }
      44% {
        left: 90%;
        opacity: 0;
        transform: rotate(270deg);
        top: 5px;
      }
      45% {
        left: 90%;
        opacity: 0;
        transform: rotate(270deg);
        top: 20px;
      }
      46% {
        left: 90%;
        opacity: 1;
        transform: rotate(270deg);
        top: 20px;
      }
      49% {
        left: 90%;
        opacity: 0;
        transform: rotate(270deg);
        top: 20px;
      }
      50% {
        left: 80%;
        opacity: 0;
        transform: rotate(270deg);
        top: 5px;
      }
      51% {
        left: 80%;
        opacity: 1;
        transform: rotate(270deg);
        top: 5px;
      }
      54% {
        left: 80%;
        opacity: 0;
        transform: rotate(270deg);
        top: 5px;
      }
      55% {
        left: 70%;
        opacity: 0;
        transform: rotate(270deg);
        top: 20px;
      }
      56% {
        left: 70%;
        opacity: 1;
        transform: rotate(270deg);
        top: 20px;
      }
      59% {
        left: 70%;
        opacity: 0;
        transform: rotate(270deg);
        top: 20px;
      }
      60% {
        left: 60%;
        opacity: 0;
        transform: rotate(270deg);
        top: 5px;
      }
      61% {
        left: 60%;
        opacity: 1;
        transform: rotate(270deg);
        top: 5px;
      }
      64% {
        left: 60%;
        opacity: 0;
        transform: rotate(270deg);
        top: 5px;
      }
      65% {
        left: 50%;
        opacity: 0;
        transform: rotate(270deg);
        top: 20px;
      }
      66% {
        left: 50%;
        opacity: 1;
        transform: rotate(270deg);
        top: 20px;
      }
      69% {
        left: 50%;
        opacity: 0;
        transform: rotate(270deg);
        top: 20px;
      }
      70% {
        left: 40%;
        opacity: 0;
        transform: rotate(270deg);
        top: 5px;
      }
      71% {
        left: 40%;
        opacity: 1;
        transform: rotate(270deg);
        top: 5px;
      }
      74% {
        left: 40%;
        opacity: 0;
        transform: rotate(270deg);
        top: 5px;
      }
      75% {
        left: 30%;
        opacity: 0;
        transform: rotate(270deg);
        top: 20px;
      }
      76% {
        left: 30%;
        opacity: 1;
        transform: rotate(270deg);
        top: 20px;
      }
      79% {
        left: 30%;
        opacity: 0;
        transform: rotate(270deg);
        top: 20px;
      }
      80% {
        left: 20%;
        opacity: 0;
        transform: rotate(270deg);
        top: 5px;
      }
      81% {
        left: 20%;
        opacity: 1;
        transform: rotate(270deg);
        top: 5px;
      }
      84% {
        left: 20%;
        opacity: 0;
        transform: rotate(270deg);
        top: 5px;
      }
      85% {
        left: 10%;
        opacity: 0;
        transform: rotate(270deg);
        top: 20px;
      }
      86% {
        left: 10%;
        opacity: 1;
        transform: rotate(270deg);
        top: 20px;
      }
      89% {
        left: 10%;
        opacity: 0;
        transform: rotate(270deg);
        top: 20px;
      }
      90% {
        left: 10%;
        opacity: 0;
        transform: rotate(90deg);
        top: 5px;
      }
      100% {
        left: 10%;
        opacity: 0;
        transform: rotate(90deg);
        top: 5px;
      }
    }
  }

  // ================ <!-- 第三屏過場 --> ================
  .map_lostdog {
    margin: 100px 0 0;
    padding: 150px 0;
    text-align: center;
    background-image: url(../img/map_lostpet_banner_bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    #map_hurryGirl {
      opacity: 0;
    }
    div {
      display: inline-block;
      padding: 50px 100px;
      margin: 0 200px;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      transition: width 0.5s;
      p {
        line-height: 1.5rem;
        font-weight: 600;
      }
    }
  }

  @media (max-width: 1350px) {
    .map_lostdog {
      div {
        padding: 50px 50px;
        margin: 0 150px;
      }
    }
  }
  @media (max-width: 1200px) {
    .map_lostdog {
      div {
        margin: 0 100px;
        min-width: 395px;
      }
    }
  }
  @media (max-width: 992px) {
    .map_lostdog {
      div {
        margin: 0 30px;
        min-width: 395px;
      }
      img {
        transform: scale(0.8);
      }
    }
  }
  @media (max-width: 414px) {
    .map_lostdog {
      margin-top: 120px;
      flex-wrap: wrap-reverse;
      padding: 0 0 20px;
      background-size: cover;
      background-position: center bottom;
      background-attachment: local;
      div {
        padding: 25px;
      }
    }
  }

  // ================ <!-- 第四屏腳印 --> ================
  .map_footprint {
    margin: 40px 0;
    padding: 0 400px;
    overflow: hidden;
    @media (max-width: 767px) {
      padding: 0 200px;
    }
    @media (max-width: 414px) {
      padding: 0 50px;
      margin-bottom: 0;
    }
  }

  // ================ <!-- 第五屏map --> ================
  .map_content {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 100px);
    margin: 0 auto;
    margin-bottom: 200px;
    position: relative;
    .btn.red {
      display: inline-block;
      width: 170px;
      height: 40px;
      position: relative;
      outline: none;
      background-color: #ff5050;
      transition: all 0.8s ease;
    }
    .btn.red span {
      color: #fff;
      white-space: nowrap;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
    .btn.red .border {
      position: absolute;
      background: none;
      transition: all 0.5s ease-in-out;
    }
    .btn.red .border:nth-of-type(1) {
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-top: 1px solid #ff5050;
    }
    .btn.red .border:nth-of-type(2) {
      top: 0;
      right: 0;
      width: 10px;
      height: 0;
      border-right: 1px solid #ff5050;
    }
    .btn.red .border:nth-of-type(3) {
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-bottom: 1px solid #ff5050;
    }
    .btn.red .border:nth-of-type(4) {
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-left: 1px solid #ff5050;
    }
    .btn.red:hover span {
      color: #ff5050;
    }
    .btn.red:hover .border:nth-of-type(1) {
      width: 100%;
    }
    .btn.red:hover .border:nth-of-type(2) {
      height: 100%;
    }
    .btn.red:hover .border:nth-of-type(3) {
      width: 100%;
    }
    .btn.red:hover .border:nth-of-type(4) {
      height: 100%;
    }
    #lostform_btn {
      width: 250px;
      cursor: pointer;
      span {
        z-index: 0;
        font-size: 1.2rem;
      }
      .lostbtnx_xl {
        display: inline-block;
      }
      .lostbtnx_sm {
        display: none;
      }
    }
  }
}
.map_content::before {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /*-1 可以當背景*/
  /* -webkit-filter: blur(3px); */
}

.map_container .map_selector {
  display: flex;
  flex-wrap: wrap;
}

.map_container .map_area {
  overflow: hidden;
}

.map_container .map_option.is-active,
.map_container .map_option.is-active {
  background-image: url(../img/icon_minus.png);
}

.map_container .map_option {
  background-image: url(../img/icon_plus.png);
  background-position: right;
  background-size: 5.5%;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-size: 1.3rem;
  transition: width 0.5s;
  cursor: pointer;
  position: relative;
}

.map_container .map_option::before {
  content: "";
  display: block;
  background-image: url(../img/paper/pattern.png);
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.map_container .map_filter_filter,
.map_container .map_filter_lost {
  padding: 20px 10% 30px;
  transition: width 0.5s;
  background-color: rgba(255, 255, 255, 0.9);
}

.map_container .map_filter_filter {
  display: none;
}

.map_container .map_filter_friendly {
  margin-bottom: 40px;
}

.map_container h3 label {
  color: $darkgreen;
  font-size: 1.2rem;
}

.map_container input[type="checkbox"] {
  margin-right: 10px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.map_container .map_lostapply {
  text-align: center;
  padding: 20px 0;
  height: 80px;
  position: relative;
  // background-color: #fff;
  .map_btnClick {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #ff5050;
    position: absolute;
    top: -30px;
    right: calc((100% - 250px)/2 - 60px);
    font-size: 0.6rem;
    animation: lostform_btn 0.8s linear infinite alternate-reverse;
    @keyframes lostform_btn {
      0% {
        transform: rotate(3deg);
        box-shadow: 1px 1px 3px rgb(44, 44, 44);
      }
      100% {
        transform: translate(0px, 0px);
      }
    }
  }
  .map_btnClick::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: -3px;
    width: 1px;
    height: 1px;
    border-bottom: 5px solid transparent;
    border-right: 10px solid #ff5050;
    border-top: 5px solid transparent;
    // border-right: 25px transparent;
    transform: rotate(-45deg);
  }
}

.map_container .map_search select {
  margin-left: 10px;
  padding: 0 20px;
  vertical-align: middle;
  transition: all 0.5s;
}

.map_container .map_search p {
  margin-left: 40px;
}

@media (max-width: 992px) {
  .map_container .map_content {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
  }
  .map_container .map_area {
    height: calc(100vh - 160px);
    z-index: -1;
  }
  .map_container .map_selector {
    height: 40px;
    z-index: 1;
  }

  .map_container .map_filter_lost {
    display: none;
  }
  // footer{
  //   display: none;
  // }
}

@media (max-width: 767px) {
  .map_container .map_banner .map_banner_bg {
    background-size: cover;
  }
  .map_container .map_content {
    height: calc(100vh - 75px - 100px);
  }
}

@media (max-width: 655px) {
  .map_container .map_filter_filter,
  .map_container .map_filter_lost {
    padding: 20px 6% 30px;
  }
  // #lostform_cus
  //   .ui-dialog
  //   .ui-corner-all
  //   .ui-widget
  //   .ui-widget-content
  //   .ui-front {
  //   width: 500px;
  // }
}
@media (max-width: 583px) {
  .map_container .map_search select {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .map_container #lostform_cus input,
  .map_container #lostform_cus select,
  .map_container #lostform_cus .uploadimg_btn {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .map_container .map_content #lostform_btn {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 6;
    animation: none;
    .lostbtnx_xl {
      display: none;
    }
    .lostbtnx_sm {
      display: inline-block;
      font-size: 0.95rem;
    }
  }
  .map_content::before {
    background-color: transparent;
  }
  .map_container .map_lostapply {
    height: 0;
    margin: 0;
  }

  .map_container .map_lostapply > img {
    display: none;
  }

  .map_container .map_option {
    background-size: 12%;
  }
  .map_container .map_content {
    height: calc(100vh - 75px);
  }
  .map_container .map_area {
    height: calc(100vh - 115px);
    z-index: -1;
  }
  .map_container .map_lostapply .map_btnClick{
    display: none;
  }
}
