// 基本設定
@import "layout/wrapper";
@import "layout/rwd";
@import "layout/grid";
@import "layout/font";
@import "layout/color";
@import "layout/header";
@include header(relative);
@import "layout/footer";
@import "layout/btn";
@import "layout/fatherHeight";
@import "layout/card";
@import "layout/change";
@include changePage();
@import "layout/scrollbar";
// @include scrollbar("aside");
@include scrollbar("div#tabs-container2");
@include scrollbar("#tabs-container1");

.section {
  width: 100%;
  // min-height: 100vh;
  background-image: url(../img/paper/concrete_seamless.png);
  // overflow: hidden;
}

.container {
  // border: 1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
  input:focus,
  select:focus,
  option:focus {
    outline: none;
  }
  aside {
    // height: calc(100vh - 107px - 100px - 20px);
    height: 100%;
    // position: sticky;
    padding-bottom: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.5);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    transition: left 0.5s;
    top: 10px;
    // overflow-y: scroll;
    h2 {
      margin-top: 17px;
    }
    .tabs {
      // border: 1px solid red;
      margin: 0px;
      margin-top: 17px;
      padding: 0px;
      list-style: none;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      transition: all 0.5s;

      li {
        margin: 5px;
        border-radius: 5px;
        border: 1px solid rgb(206, 206, 206);
        background: rgba(255, 255, 255, 0.8);
        color: #222;
        display: inline-block;
        padding: 15px 15px;
        cursor: pointer;
        margin-top: 3px;
        width: 100%;
        flex-grow: 1;
      }
      li.current {
        background: #7e9c23;
        color: white;
      }
    }
    button {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: none;
      background-image: url(../img/icon_member_edit.png);
      background-size: 51px;
      background-repeat: no-repeat;
      background-position: center 40%;
      background-color: rgb(116, 175, 91);
      border: 1px solid rgb(116, 175, 91);
      padding: 0;
      position: absolute;
      right: -45px;
      top: 8.5vh;
      display: none;
      outline: none;
    }
  }
  #tabs-container2 {
    overflow: scroll;
    // border: 1px solid blue;
    width: calc(100% - 350px);
    margin: 10px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.5);
    // justify-content: center;
    // align-items: center;
    .tab-content {
      // border: 1px solid red;
      display: none;
      background-color: transparent;
      padding: 15px;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      .small-tabs {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
          border: 1px solid rgb(206, 206, 206);
          background: none;
          background: white;
          color: #222;
          display: inline-block;
          padding: 10px 15px;
          cursor: pointer;
        }
        li.current {
          border: 1px solid rgb(206, 206, 206);
          background: #7e9c23;
          color: white;
        }
      }
      .small-tab-contents {
        // border: 1px solid red;
        .small-tab-content {
          display: none;
          background: #ededed;
          padding: 15px;
        }
        .small-tab-content.current {
          display: inherit;
        }
      }
    }
    .tab-content.current {
      display: inherit;
      color: white;
      .small-tab-contents {
        .small-tab-content {
          display: none;
          background: rgba(255, 255, 255, 0.5);
          padding: 15px;
          border-radius: 0 10px 10px 10px;
        }
        .small-tab-content.current {
          display: inherit;
          box-shadow: 0 0 50px rgba(128, 128, 128, 0.1);
          // background: rgba(138, 153, 94, 0.493);
        }
      }
    }
  }
}

// ===============================================================
// 右邊視窗基本設定

#showPsw {
  @include rwd(lg) {
    margin: 10px 0 15px 0;
  }
  @include rwd(md) {
    margin: 10px 0 15px 0;
  }
  @include rwd(sm) {
    margin: 10px 0 15px 0;
  }
  @include rwd(ss) {
    margin: 10px 0 15px 0;
  }
  @include rwd(mini) {
    margin: 10px 0 15px 0;
  }
}

label.uploadimgbtn {
  @include rwd(lg) {
    position: absolute;
    bottom: 40px;
    margin-left: 15px;
  }
  @include rwd(md) {
    position: absolute;
    bottom: 40px;
    margin-left: 15px;
  }
  @include rwd(sm) {
    position: absolute;
    bottom: 40px;
    margin-left: 15px;
  }
  @include rwd(ss) {
    position: absolute;
    bottom: 40px;
    margin-left: 15px;
  }
  @include rwd(mini) {
    position: absolute;
    bottom: 40px;
    margin-left: 15px;
  }
}

.tab-content {
  section {
    padding: 35px;
    transition: all 0.5s;
    // background: rgba(255, 255, 255, 0.5);
    // border-radius: 10px;
    h3 {
      margin-bottom: 40px;
    }
    > div {
      margin: 15px 0;
    }
    label {
      display: inline-block;
      width: 120px;
    }
    table {
      border: 1px solid $darkgreen;
      border-collapse: collapse;
      width: 100%;
      tr,
      th,
      td {
        padding: 5px 10px;
        border-bottom: 1px solid $darkgreen;
      }
      th {
        text-align: center;
        color: white;
        background-color: $darkgreen;
        border-right: 1px solid white;
      }
      td {
        background-color: rgba(255, 255, 255, 0.5);
      }
      th:last-child {
        border-right: none;
      }
      button {
        margin: auto 10px;
      }
    }
    .submitbtn {
      margin-top: 50px;
      text-align: center;
      font-family: "DM Serif Text", "Noto Serif TC";
    }
    .updatebtn {
      display: inline-block;
      padding: 10px 20px;
      color: white;
      background-color: $gray;
      text-decoration: none;
      margin: 5px;
      font-family: "DM Serif Text", "Noto Serif TC";
      transition: all 0.5s;
      &:hover {
        border: 1px solid $gray !important;
        background-color: #fff;
        color: $gray;
      }
    }
    .updatebtn_s {
      display: inline-block;
      padding: 3px 6px;
      color: white;
      background-color: $gray;
      text-decoration: none;
      margin: 5px;
      font-family: "DM Serif Text", "Noto Serif TC";
    }
  }
  .memTable {
    .memTable_content {
      table {
        tr {
          // th,
          // td {
          //   width: calc((100% - 60px) / 9);
          // }
          td {
            text-align: center;
            word-wrap: break-all;
          }
          th:last-child,
          td:last-child {
            min-width: 80px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    aside {
      .tabs {
        width: 300px;
      }
    }
    #tabs-container2 {
      width: calc(100% - 300px);
      .tab-content {
        section {
          text-align: center;
          padding: 20px;
          h3 {
            text-align: left;
          }
          .note {
            text-align: left;
          }
          .memInfo_content {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    aside {
      .tabs {
        width: 250px;
      }
    }
    #tabs-container2 {
      width: calc(100% - 250px);
      .tab-content {
        section {
          padding: 10px;
          .memRWD_992 {
            display: none;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .container {
    aside {
      position: fixed;
      left: -230px;
      height: calc(100vh - 75px - 120px);
      width: 220px;
      background-color: rgba(255, 255, 255, 0.95);
      top: 75px;
      z-index: 2;
      h2 {
        font-size: 1.5rem;
      }
      .tabs {
        width: 100%;
        li {
          padding: 6px 15px;
          text-align: center;
          width: 100%;
        }
      }
      button {
        display: inline-block;
      }
    }
    aside#tabs-container1.-showFilter {
      left: 0px;
    }
    #tabs-container2 {
      width: 100%;
      height: calc(100vh - 75px - 120px);
    }
  }
}

@media (max-width: 414px) {
  .container {
    aside {
      position: fixed;
      left: -230px;
      height: calc(100vh - 75px - 120px);
      width: 220px;
      background-color: rgba(255, 255, 255, 0.95);
      top: 75px;
      z-index: 2;
      h2 {
        font-size: 1.5rem;
      }
      .tabs {
        width: 100%;
        li {
          padding: 6px 15px;
          text-align: center;
          width: 100%;
        }
      }
      button {
        display: inline-block;
      }
    }
    aside#tabs-container1.-showFilter {
      left: 0px;
    }
    #tabs-container2 {
      width: 100%;
      height: calc(100vh - 75px - 120px);
    }
  }
}

// 寵物遺失開始
.lostrptable {
  tr {
    height: 75px;
  }
  td {
    height: 75px;
  }
  img {
    max-width: 50px;
  }
}
#rpbtn {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  outline: none;
}

#lostform_cus {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 58, 71, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  #lostclose {
    position: fixed;
    top: 0;
    left: 0;
    // z-index: 1001;
    width: 100%;
    height: 100%;
    background: transparent;
  }
  #lostform {
    position: relative;
    // transform: translate(-50%, -50%);
    // left: 50%;
    // top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.15);
    // z-index: 1002;
    p {
      margin: 23px 0;
    }
    fieldset {
      border: none;
      padding: 30px 50px;
      transition: all 0.5s;
      h3 {
        text-align: center;
        margin-bottom: 30px;
      }
      div {
        text-align: center;
      }
      img {
        max-width: 100px;
      }
      #imageShow {
        display: inline-block;
        overflow: hidden;
        margin: 10px auto;
        width: 250px;
        height: 150px;
        // border: 1px solid #999898;
        background-size: auto 100%;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
    label {
      display: inline-block;
      width: 150px;
      line-height: 28px;
      vertical-align: top;
      text-align: left;
      font-size: 1.1rem;
    }
    input,
    select,
    .uploadimg_btn {
      width: calc(100% - 155px);
      height: 28px;
      line-height: 28px;
      vertical-align: top;
      font-family: "Noto Sans TC", sans-serif;
      color: $gray;
      font-weight: 400;
      letter-spacing: 0.05rem;
      font-size: 0.95rem;
    }
    p:last-child {
      text-align: center;
      margin: 30px 0 10px;
    }
    .uploadimgbtn_brfore {
      margin-bottom: -10px;
    }
    .uploadimgbtn_after {
      margin-top: 0px;
    }
    .uploadimg_btn {
      color: #fff;
      background-color: $gray;
      display: inline-block;
      text-align: center;
      touch-action: manipulation;
      cursor: pointer;
      user-select: none;
      margin-bottom: 30px;
      transition: all 0.3s;
      width: calc(100% - 155px);
    }
    .uploadimg_btn:hover {
      box-shadow: 2px 2px 4px $lightgray;
      transform: translate(1px, 1px);
    }
  }
  #lightBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  #lostform_cus {
    #lostform {
      p {
        margin: 12px 0;
      }
      input,
      select {
        width: 100%;
      }
      .uploadimg_btn {
        width: 100%;
        margin-bottom: 20px;
      }
      label {
        margin-bottom: 5px;
      }
      fieldset {
        text-align: left;
        padding: 25px 50px;
        h3 {
          text-align: center;
          margin-bottom: 20px;
        }
      }
      div {
        text-align: center;
      }
      .uploadimgbtn_after {
        margin-top: -20px;
      }
    }
  }
}

@media (max-width: 576px) {
  #lostform_cus {
    #lostform {
      max-width: 375px;
      label {
        font-size: 1rem;
      }
      fieldset {
        padding: 15px 30px;
      }
    }
  }
}

@media (max-width: 414px) {
  #lostform_cus {
    #lostform {
      max-width: 350px;
      label {
        margin-bottom: 0;
      }
      p {
        margin: 3px 0;
      }
      fieldset {
        padding: 25px 30px 20px;
        h3 {
          margin-bottom: 15px;
        }
        #imageShow {
          display: none;
        }
      }
      .uploadimg_btn {
        margin-bottom: 15px;
      }
      input[type="date"] {
        width: 290px;
      }
    }
  }
}

@media (max-width: 375px) {
  #lostform_cus {
    #lostform {
      max-width: 300px;
      input[type="date"] {
        width: 240px;
      }
      .uploadimg_btn {
        margin-bottom: 10px;
      }
    }
  }
}

// 我的寵物遺失回報
.lostPetRp_icon {
  width: 18px;
  height: 18px;
  vertical-align: bottom;
  margin-right: 3px;
}

// 寵物遺失結束

// 會員資訊
div.clickToShow {
  display: none;
  &.show {
    display: block;
  }
}
.memInfo {
  .note {
    border-radius: 10px;
    background-color: #75d35066;
    padding: 15px;
    p:nth-child(1) {
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
  .memInfo_content {
    padding: 15px;
    display: flex;
    .left {
      width: calc(100% - 160px);
      > div {
        margin-bottom: 30px;
      }
      label {
        font-weight: 600;
        vertical-align: top;
      }
      .mempw {
        display: inline-block;
        width: calc((100% - 160px) - 120px);
        vertical-align: top;
        margin: 0;
        > input {
          margin-right: 10px;
        }
      }
    }
    .right {
      width: 160px;
      text-align: center;
      position: relative;
      > div {
        margin-bottom: 30px;
      }
      > label {
        display: block;
        width: 100%;
        font-weight: 600;
      }
      #memPic {
        display: inline-block;
        overflow: hidden;
        margin: 10px auto;
        width: 150px;
        height: 150px;
        border: 1px solid $lightgray;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }

      .uploadimgbtn {
        width: auto;
        color: #fff;
        background-color: $gray;
        display: inline-block;
        text-align: center;
        touch-action: manipulation;
        cursor: pointer;
        user-select: none;
        padding: 3px 6px;
        font-family: "DM Serif Text", "Noto Serif TC";
      }
    }
  }
  .memInfobtn {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .memInfo {
    .memInfo_content {
      flex-wrap: wrap;
      text-align: center;
      .left {
        width: 100%;
        text-align: left;
      }
      .right {
        width: 100%;
        text-align: left;
        img {
          display: block;
          margin-top: 0;
        }
        div {
          display: inline-block;
          vertical-align: top;
          text-align: center;
        }
        > label {
          display: inline-block;
          width: 120px;
          vertical-align: top;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .memInfo {
    .memInfo_content {
      .left {
        > div {
          margin-bottom: 25px;
          label {
            width: 100%;
            margin-bottom: 10px;
          }
          input {
            width: 100%;
          }
          .mempw {
            display: block;
            width: 100%;
            > input {
              margin-right: 0px;
            }
          }
        }
      }
      .right {
        > label {
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
  }
}
@media (max-width: 415px) {
  .tab-content section table tr,
  .tab-content section table th,
  .tab-content section table td {
    padding: 2px 5px;
  }
  .tab-content section {
    .lostrptable {
      .updatebtn_s {
        width: 60px;
      }
    }
  }
}

// 管理黑名單
@import "layout/rwd";

section.blacklistTable {
  .blacklist_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    // &::after{
    //   content: '';
    //   flex: auto;
    // }
    div.withoutBlack {
      width: 400px;
      max-width: 100%;
      position: relative;
      padding-top: 150px;
      margin: 0 auto;
      div {
        width: 150px;
        height: 130px;
        position: absolute;
        top: 0;
        right: 50px;
        img.bubble {
          width: 100%;
        }
        p {
          text-align: center;
          display: inline-block;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: $gray;
        }
      }
      img.cat {
        width: 40%;
        display: block;
        margin: 0 auto;
      }
    }
    div.card {
      margin: 0 0 20px;
      display: flex;
      padding: 20px 3%;
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 50px rgba(128, 128, 128, 0.1);
      width: 100%;
      @include rwd(xl) {
        width: 48%;
      }
      div {
        width: 50px;
        min-width: 50px;
        height: 50px;
        border-radius: 50%;
        display: inline-block;
        // position: absolute;
        left: 50%;
        top: 50%;
        // transform: translate(-50%, -50%);
        color: $gray;
      }
    }
    img.cat {
      width: 40%;
      display: block;
      margin: 0 auto;
    }
  }
  div.card {
    margin: 0 0 20px;
    display: flex;
    padding: 20px 3%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 50px rgba(128, 128, 128, 0.1);
    width: 48%;
    div {
      width: 50px;
      min-width: 50px;
      height: 50px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 10%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    span {
      align-self: center;
    }
    .BLbtn {
      margin-left: auto;
      align-self: center;
      border: 1px solid transparent;
      outline: none;
    }
  }
}

@media (max-width: 1200px) {
  .tab-content {
    section {
      .blacklist_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 992px) {
  .tab-content {
    section {
      .blacklist_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .BLcolumn {
          width: 100%;
        }
      }
    }
  }
}

@include rwd(mini) {
  @include grid(mini, 12);
}
