// 基本設定
@import 'layout/wrapper';

//=======================================================

//格線系統
@import 'layout/grid';
//12欄
//class="col-1" 寬度為總寬度的 1/12
//class="col-6" 寬度為總寬度的 6/12
//以此類推(col-1 ~ col-12)

//=======================================================

@import 'layout/rwd';

//=======================================================

//字體及字級設定
@import 'layout/font';
//花體英文字 class="enSpecialFont"
//標題、按鈕等會用到的襯線字體 class="titleFont"
//日期、按鈕等會用到的小字 class="smalltext"

//=======================================================

//常用顏色
@import 'layout/color';
//引用此支sass以變數使用常用色
//$darkgreen ----- 深綠色
//$lightgreen ----- 淺綠色
//$gray ----- 深灰色
//$lightgray ----- 淺灰色

//=======================================================

//header導覽列
@import 'layout/header';
@include header(fixed);

//=======================================================

//footer及page top按鈕
@import 'layout/footer';

//=======================================================

//按鈕
@import 'layout/btn';
//深綠色按鈕 class="btn darkgreen"
//淺綠色按鈕 class="btn lightgreen"
//深灰色按鈕 class="btn gray"

//=======================================================

//若子元素都為float元素，支撐父層高度
@import 'layout/fatherHeight';
//使用方式 ----- @include fatherHeight();

//=======================================================

//卡片(圓角10px/白底)
@import 'layout/card';
//使用方式 ----- @include card();

//=======================================================

//跳轉符號
@import 'layout/change';
//使用方式 ----- @include changePage();
@include changePage();


//=======================================================

//overflow時的滑動軸
@import 'layout/scrollbar';
//使用方式 ----- @include scrollbar(要套用的物件);
//例如 ----- @include scrollbar('div.top');

//=======================================================

// 外框設定
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    overflow: auto;
    /* position: relative; */    /* for the footer to move with the page size */
    min-height: 100%;            /* for the footer to be at the bottom */
    /* padding-bottom: 6rem; */  /* Space available between last element and bottom border of the page */
    margin: 0;
    padding:0;
    width: 100%;
    min-height: 100%;
    height: 100%;
}
.postregionwrapper {
    position: relative;
    min-height: 100vh;       /* will cover the 100% of viewport */
    overflow: hidden;
    padding-bottom: 138px;    /* height of your footer */
}

footer {
    bottom: 0px;
    width: 100%;
    position: absolute;
}

//=======================================================
// 內文

.breadcrumb {
    margin-bottom: 25px;
}

.breadcrumb>a {
    text-decoration: none;
}

.post3buttoncollection {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}
.heartbutton{
    position: relative;
    top: 2px;
	width: 32px;
	height: 40px;
	border-radius: 5px;
	background: none;
	cursor: pointer;
	transition: background 0.5s ease;
}
.button:hover{

}
.active#heart:before,.active#heart:after{
	background: red !important;
}
#heart {
    transition: background 0.5s ease;
}
#heart:before,
#heart:after {
	transition: background 0.5s ease;
    position: absolute;
    content: "";
    left: 16px;
    top: 0;
    width: 16px;
    height: 27px;
    background: #424141;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}

.fa.fa-share-alt,
.fas.fa-flag {
    font-size: 30px;
    cursor: pointer;
    &:hover {
        color: #97be70;
        transition: all 0.8s ease;
    }
}
.post3button {
    width: 50px;
    height: 50px;
    border: 1px solid lighten(#000, 20);
    border-radius: 50%;
}

.postfevoritebutton,
.postsharebutton {
    margin-right: 20px;
}

.centerfix {
    margin: 0 auto;  // 上下 0 左右 auto，做水平置中
}

.titleFont {
    text-align: center;
    margin-bottom: 20px;
}

.cpc_contentpic1 {
    float: left;
    width: 35%;
    margin-right: 15px;
    margin-bottom: 15px;
}

.cpc_contentpic2 {
    float: right;
    width: 46%;
    margin-left: 15px;
    margin-bottom: 15px;
}
.cpc_contentpic3 {
    width: 100%;
    // height: 135px;
}
.cpc_content1 {
    clear: right;
    margin-bottom: 15px;
}
.cpc_content2 {
    clear: left;
    margin-bottom: 15px;
}
.cpc_contentfont2.firstline {
    display: flex;
    flex-direction: row-reverse;
}
.postautherregion {
    margin-top: 50px;
    display: flex;
    align-items: center;
    div.postauthercontent{
        p{
            display: inline-block;
        }
        img{
            display: inline-block;
            width: 20px;
            position: relative;
            top: 5px;
        }
    }
}
.postautherimg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.cpchr {
    margin: 50px 0;
}
.leftmessage {
    margin-bottom: 50px;
}
.postmessenger {
    border-top: 1px solid lighten(#000, 20);
    border-left: 1px solid lighten(#000, 20);
    border-right: 1px solid lighten(#000, 20);
}
.postmessenger>li {
    position: relative;

    list-style: none;
    border-bottom: 1px solid lighten(#000, 20);
    padding: 5px;
}
.docommonmessage {
    display: flex;
    width: 100%;
}
.leftedmessageinfo,
.leftedmessagecontent {
    display: flex;
    align-items: center;
}
.leftedmessageinfo {
    width: 136px;
    margin-right: 20px;
}
.leftedmessagecontent {
    width: calc( 100% - 20px - 136px );
}
.memberhead{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.sendamessage {
    border: 0;
    outline:none;
}
.memberleftmessage {
    width: calc( 100% - 20px - 64px );
    margin-right: 20px;
}
.memberleftmessagetime {
    width: 64px;
    display: flex;
    justify-content: flex-end;
}
.sendamessage {
    width: 100%;
}
.leaveamessage {
    border-bottom: 1px solid lighten(#000, 20);
    border-left: 1px solid lighten(#000, 20);
    border-right: 1px solid lighten(#000, 20);
}
.labelleaveamessage {
    display: flex;
    padding: 5px;
    width: 100%;
}
.responsemember {
    display: flex;
    justify-content: flex-end;
}
.responsemember>a {
    text-decoration: none;
}
.responsemember>a:first-child {
    margin-right: 10px;
}

@media screen and (min-width: 600px) and (max-width: 767px) {
    .cpc_contentpic1,
    .cpc_contentpic2,
    .cpc_contentpic3 {
        float: none;
        width: 100%;
        margin: 0;
    }
    .cpc_content1,
    .cpc_content2 {
        clear: none;
        margin-bottom: 15px;
    }
    .cpc_contentfont2.firstline {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (min-width: 465px) and (max-width: 599px) {
    .cpc_contentpic1,
    .cpc_contentpic2,
    .cpc_contentpic3 {
        float: none;
        width: 100%;
        margin: 0;
    }
    .cpc_content1,
    .cpc_content2 {
        clear: none;
        margin-bottom: 15px;
    }
    .cpc_contentfont2.firstline {
        display: flex;
        flex-direction: row;
    }
    .leftedmessageinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 76px;
        margin-right: 20px;
    }
    .leftedmessagecontent {
        display: flex;
        align-items: center;
        width: calc( 100% - 20px - 76px );
    }
}
@media screen and (min-width: 1px) and (max-width: 464px) {
    .cpc_contentpic1,
    .cpc_contentpic2,
    .cpc_contentpic3 {
        float: none;
        width: 100%;
        margin: 0;
    }
    .cpc_content1,
    .cpc_content2 {
        clear: none;
        margin-bottom: 15px;
    }
    .cpc_contentfont2.firstline {
        display: flex;
        flex-direction: row;
    }
    .leftedmessageinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 76px;
        margin-right: 10px;
    }
    .leftedmessagecontent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc( 100% - 10px - 76px );
    }
    .sendamessage {
        border: 0;
        outline:none;
    }
    .memberleftmessage {
        width: 100%;
        margin-right: 0;
    }
    .memberleftmessagetime {
        width: 100%;
        position: absolute;
        bottom: 5px;
        right: 5px;
        margin-top: 20px;
    }
    .responsemember {
        display: inline-flex;
        justify-content: flex-start;
        width: 76px;
        margin-top: 10px;
        margin-right: 20px;
    }
}
