// 基本設定
@import 'layout/wrapper';

//=======================================================

//格線系統
@import 'layout/grid';
@import 'layout/rwd';
//12欄
//class="col-1" 寬度為總寬度的 1/12
//class="col-6" 寬度為總寬度的 6/12
//以此類推(col-1 ~ col-12)

//=======================================================

//字體及字級設定
@import 'layout/font';
//花體英文字 class="enSpecialFont"
//標題、按鈕等會用到的襯線字體 class="titleFont"
//日期、按鈕等會用到的小字 class="smalltext"

//=======================================================

//常用顏色
@import 'layout/color';
//引用此支sass以變數使用常用色
//$darkgreen ----- 深綠色
//$lightgreen ----- 淺綠色
//$gray ----- 深灰色
//$lightgray ----- 淺灰色

//=======================================================

//header導覽列
@import 'layout/header';
@include header(fixed);

//=======================================================

//footer及page top按鈕
@import 'layout/footer';

//=======================================================

//按鈕
@import 'layout/btn';
//深綠色按鈕 class="btn darkgreen"
//淺綠色按鈕 class="btn lightgreen"
//深灰色按鈕 class="btn gray"

//=======================================================

//若子元素都為float元素，支撐父層高度
@import 'layout/fatherHeight';
//使用方式 ----- @include fatherHeight();

//=======================================================

//卡片(圓角10px/白底)
// @import 'layout/card';
//使用方式 ----- @include card();

//=======================================================

//跳轉符號
// @import 'layout/change';
//使用方式 ----- @include changePage();
// @include changePage();


//=======================================================

//overflow時的滑動軸
@import 'layout/scrollbar';
//使用方式 ----- @include scrollbar(要套用的物件);
//例如 ----- @include scrollbar('div.top');

//=======================================================

// 外框設定
body {
    overflow: auto;
    /* position: relative; */    /* for the footer to move with the page size */
    min-height: 100%;            /* for the footer to be at the bottom */
    /* padding-bottom: 6rem; */  /* Space available between last element and bottom border of the page */
    margin: 0;
    padding:0;
    width: 100%;
    min-height: 100%;
    height: 100%;
}
.postregionwrapper {
    position: relative;
    min-height: 100vh;       /* will cover the 100% of viewport */
    overflow: hidden;
    padding-bottom: 138px;    /* height of your footer */
}

footer {
    bottom: 0px;
    width: 100%;
    position: absolute;
}

//=======================================================
// 標題

    .postregionselectitem {
        display: inline-block;
    }

//=======================================================
// 發文大框補在這
.postwritebackblock {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 6;
}
.post_write_region {
    display: none;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #fff;
    padding: 5px;
    width: 90%;
    height: 95%;
    z-index: 7;
}
.postwritetitlecenterfix {
    text-align: center;
    height: 55px;
}
.post_write_form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: calc( 100% - 55px );
}
.post_write_form>*:nth-child(-n+2) {
    margin-bottom: 40px;
    height: 30px;
}
.pwfselectkeyword {
    display: flex;
}
.pwfselectkeywordtitle {
    width: 65px;
}
.pwfselectkeywordregion {
    // border: 1px solid #000;
    display: flex;
    margin-left: 15px;
    width: calc( 100% - 65px - 15px );
    // height: 10vh;
}
.pwfselectkeywordregion>div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}
.pwfselectkeywordregion > div:nth-child(-n+4) {
    margin-right: 5px;
}
.pwfselectkeywordregiondaily,
.pwfselectkeywordregiontoy,
.pwfselectkeywordregioncare,
.pwfselectkeywordregioncute {
    width: 50px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}
.pwfselectkeywordregionpetspaceitem {
    position: relative;
    display: flex;
    text-decoration: none;
    outline: none;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    min-height: 30px;
    line-height: 24px;
    overflow: hidden;
    width: 125px;
    height: 30px;
    transition: all 0.2s ease-in;
    & span {
      background-color: #fff;
      color: #000;
      transition: all 0.2s ease-in;
    }
    &:after {
        content:"";
        // width: 0;
        // height: 0;
        position: relative;
        top: 5px;
        // right: 10px;
        margin-left: 5px;
        border: 7px solid transparent;
        border-color: #000 transparent transparent transparent;
    }
    &:hover {
      background-color: darken(#000, 2);
      color: #fff;
      span {
        background-color: darken(#000, 2);
        color: #fff;
      }
      &:after {
        border-color: #fff transparent transparent transparent;
      }
    }
}
.u3 {
  // display: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  width: 100%;
  background-color: #fff;
  // border: 1px solid #000;
  z-index: 3;
  // margin-top: -1px;
}

.u3>li {
  color: #000;
  padding: 5px 5px 5px 5px;
  // margin-top: -1px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  list-style: none;
  // border-top: 1px solid darken(#000, 10);
  transition: all 0.20s ease-in;
  &:hover {
    background-color: #000;
    background: lighten(#000, 20);
    color: #fff;
    // .select ul>li {
    //   color: $whitefont;
    // }
    &>* {
        color: #fff;
    }
  }
}
.u3>li>label {
    display: flex;
    align-items: center;
    justify-content: center;
}
.u3>li>label:nth-child(-n+3) {
    margin-bottom: 5px;
}
.u3>li:nth-child(2) {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.post_write_form>label>span.postwritetitlefont {
    width: 60px;
    margin-right: 40px;
}
.post_write_form>label>span.postwritecontentregionfont {
    width: 60px;
    margin-right: 20px;
}
.post_write_form>label>input {
    margin-right: 0;
    width: calc(100% - 60px - 20px);
}
.postwritecontentregion {
    width: calc( 100% - 60px - 20px );
}
.pwccontroltool {
    display: flex;
    min-width: 100%;
    height: 50px;
    // border: 1px solid red;
}
.pwc_font_left_tool {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid #000;
    border-bottom: 0px;
    border-color: #000;
    width: 50px;
    height: 50px;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
}
.pwc_font_left_tool>div {
    border: 1px solid #000;
}
.pwc_font_left_tool>div:nth-child(-n+2) {
    margin-bottom: 8px;
}
.pwc_font_left_tool>div:nth-child(odd) {
    width: 28px;
}
.pwc_font_left_tool>div:nth-child(even) {
    width: 18px;
}
.pwc_font_center_tool {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid #000;
    border-left: 0px;
    border-bottom: 0px;
    border-color: #000;
    width: 50px;
    height: 50px;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
}
.pwc_font_center_tool>div {
    border: 1px solid #000;
}
.pwc_font_center_tool>div:nth-child(-n+2) {
    margin-bottom: 8px;
}
.pwc_font_center_tool>div:nth-child(odd) {
    width: 28px;
}
.pwc_font_center_tool>div:nth-child(even) {
    margin-left: 5px;
    margin-right: 5px;
    width: 18px;

}
.pwc_font_right_tool {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid #000;
    border-left: 0px;
    border-bottom: 0px;
    border-color: #000;
    width: 50px;
    height: 50px;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
}
.pwc_font_right_tool>div {
    border: 1px solid #000;
}
.pwc_font_right_tool>div:nth-child(-n+2) {
    margin-bottom: 8px;
}
.pwc_font_right_tool>div:nth-child(odd) {
    width: 28px;
}
.pwc_font_right_tool>div:nth-child(even) {
    margin-left: 10px;
    width: 18px;
}
.pwc_upload_img_tool {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    border: 1px solid #000;
    border-left: 0px;
    border-bottom: 0px;
    border-color: #000;
    width: 50px;
    height: 50px;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
}
.pwc_upload_img_tool>i {
    font-size: 29px;
}
.writecontent>div>textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: calc( 100% - 50px );
    max-height: calc( 100% - 50px );
    padding: 5px;
}
.writecontent {
    display: flex;
    height: calc( 100% - 60px - 80px );
}
.postwritetitle {
    outline:none;
    border-width: 0 0 1px 0;
    border-color: #000;
}
.postwritecontent {
    outline:none;
    border: 1px solid #000;
}

//=======================================================
// 下拉選單
// npm run build-css ./style.scss 2/css/style.css

$whitebgc: #fff;
$blackfont: #000;
$blackline: #000;
$blackbgc: #000;
$whitefont: #fff;
$whiteline: #fff;

// .selectors {
//   display: flex;
//   flex-direction: row;
// }

.select {
  margin-right: 10px;
}
//
// a {
//   color: #fff;
// }

div.change1,
div.change2 {
    display: block;
    position: relative;
    text-decoration: none;
    outline: none;
    font-size: 16px;
    background-color: $whitebgc;
    border: 1px solid $blackline;
    padding: 8px 20px 5px 10px;
    min-height: 30px;
    line-height: 24px;
    overflow: hidden;
    width: 165px;
    transition: all 0.2s ease-in;
    &:after {
      content:"";
      // width: 0;
      // height: 0;
      position: absolute;
      top: 9px;
      right: 10px;
      border: 7px solid transparent;
      border-color: transparent transparent  $blackline transparent;
    }
    &:hover {
      background-color: darken(#000, 2);
      color: #fff;
      span {
        background-color: darken(#000, 2);
        color: #fff;
      }
      &:after {
        border-color: transparent transparent #fff transparent;
      }
    }
}

.select-styled {
  display: flex;
  position: relative;
  text-decoration: none;
  outline: none;
  font-size: 16px;
  background-color: $whitebgc;
  border: 1px solid $blackline;
  padding: 8px 20px 5px 10px;
  min-height: 30px;
  line-height: 24px;
  overflow: hidden;
  width: 165px;
  transition: all 0.2s ease-in;
  & span {
    background-color: #fff;
    color: #000;
  }
  &:after {
    content:"";
    // width: 0;
    // height: 0;
    position: absolute;
    top: calc( 37px / 2 );
    right: 10px;
    border: 7px solid transparent;
    border-color: $blackline transparent transparent transparent;
  }
  &:hover {
    background-color: darken(#000, 2);
    color: #fff;
    span {
      background-color: darken(#000, 2);
      color: #fff;
    }
    &:after {
      border-color: #fff transparent transparent transparent;
    }
  }
}

// span.hidechange1,
// span.hidechange2 {
//   // padding-right: 10px;
//   cursor: pointer;
//   background-color: $whitebgc;
//   color: $blackfont;
//   overflow: hidden;
//   width: 165px;
//   transition: all 0.2s ease-in;
// }

span.hide1,
span.hide2 {
  // padding-right: 10px;
  cursor: pointer;
  background-color: $whitebgc;
  color: $blackfont;
  overflow: hidden;
  width: 165px;
  transition: all 0.2s ease-in;
}

.select ul {
  position: absolute;
  background-color: $whitebgc;
  border: 1px solid $blackline;
  display: none;
  z-index: 3;
  // margin-top: -1px;
}

.select ul>li {
  color: $blackfont;
  padding: 15px 20px 15px 10px;
  margin-top: -1px;
  width: 163px;
  list-style: none;
  // border-top: 1px solid darken(#000, 10);
  transition: all 0.20s ease-in;
  &:hover {
    background-color: $blackbgc;
    background: lighten(#000, 20);
    color: $whitefont;
    // .select ul>li {
    //   color: $whitefont;
    // }
  }
}

input {
  margin-right: 10px;
}

// .select span.value {
//   display: none;
// }


//=======================================================

// 內文
.card-item-left {
    margin-right: 7%;
}

.card-item{
  display: inline-flex;
  position:relative;
  left: 15px;
  width:calc(47% - 15px);
  box-shadow: rgba(88, 88, 102, 0.07) 0px 2px 5px 0px;
  background-color:#FFF;
  min-height:250px;
  padding:15px 0;
  // margin-bottom:20px;
  margin-bottom:90px;

  .article-date{
      position:absolute;
      // right:30px;
      right:20px;
      top:0px;
      background-color:#FFF;
      padding:5px 3px;
      z-index:3;
      width: 45px;
      border-bottom-left-radius:3px;
      border-bottom-right-radius:3px;
      text-align:center;
      font-size:1.1em;
      transition: top 0.8s ease-in-out;
    }

  .card-img {
    position:relative;
    left:-15px;
    overflow:hidden;
    width:40%;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1;

    img {
      width:100%;
      object-fit: cover;
      height: 100%;
      opacity: 1;
      transition: all 3s ease;
    }
  }

  .card-details {
    // margin-left:370px;
    padding-top:15px;
    width: 60%;

    .title{
      font-size:1.2em;
      font-weight:800;
      padding-bottom:15px;
      border-bottom:1px solid #2e2e2e;
      margin-bottom:20px;
    }

    .subtitle {
        padding-right: 15px;
        margin-bottom: 15px;
    }

    .keyword{
        font-size:0.9em;
        margin-bottom: 15px;
    }

    .keyword>span {
        text-decoration: none;
        padding-right: 10px;
    }

    .postmessage {
        position: relative;
        z-index: 1;
        font-size:0.9em;
        margin-bottom: 15px;
        &:hover{
            color: #76D451;
        }
    }
  }
}

.card-item:hover {

  cursor:pointer;

  .card-img{
    img {
      opacity:0.9;
      transform: scale(1.5);
    }

    .article-date{
      top: -90px;
    }

    &::before {
     opacity:0.4;
    }

    .hot-icon{
      i {
        opacity:1;
      }
    }
  }

  .shape {
    stroke-width: 6px;
    stroke-dasharray: 3830; // 家裡螢幕
    // stroke-dasharray: 2160;   // 原設定
    stroke-dashoffset: 0;
  }
}

// .hot-icon{
//   z-index:3;
//   position:absolute;
//   i {
//     font-size:3em;
//     color:#FFF;
//     opacity:0;
//     transition:opacity .3s ease-in-out;
//   }
// }
// .card-img::before {
//   content:'';
//   z-index:2;
//   position:absolute;
//   top:0;
//   left:0;
//   right:0;
//   bottom:0;
//   background-color:#76D451;
//   opacity:0;
//   color:#FFF;
//   font-size:2em;
//   transition: opacity 0.4s ease-in-out;
// }

.svg-wrapper {
  svg {
    position:absolute;
    top:0;
    left:0;
  }
  .shape {
  fill: transparent;
  stroke: lighten(#000, 20);  // #19647E
  stroke-dasharray: 100 2060;
  stroke-dashoffset: -890;
  stroke-width: 4px;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }
}

//=======================================================

.centerfix {
    margin: 0 auto;  // 上下 0 左右 auto，做水平置中
}
.inlinefix {
    display: inline-flex;
}
.inlinerightfix {
    display: flex;
    justify-content: flex-end;
}
.selectpostarticleregion {
    cursor: pointer;
    color: #7e9c23;
}
.selectpostgalleryregion {
    cursor: pointer;
    color: #000;
}
.buttononlinefix {
    position: absolute;
    // width: 170px;
    // bottom: 0px;
    right: 15px;
    z-index: 1;
}

//=======================================================

// RWD 開始

@media screen and (min-width: 1631px) and (max-width: 1950px) {
    .card-item .card-img {
        width: 50%;
    }

    .card-item .card-details {
        width: 50%;
    }
}

@media screen and (min-width: 1150px) and (max-width: 1630px) {
    .card-item-left {
        margin-right: 0%;
    }
    .card-item{
        width: calc( 100% - 15px );
    }

    .card-item .card-img {
        width: 30%;
    }

    .card-item .card-details {
        width: 70%;
    }
}

@media screen and (min-width: 970px) and (max-width: 1149px) {
    .card-item-left {
        margin-right: 0%;
    }
    .card-item{
        width: calc( 100% - 15px );
    }

    .card-item .card-img {
        width: 40%;
    }

    .card-item .card-details {
        width: 60%;
    }
}

@media screen and (min-width: 300px) and (max-width: 969px) {
    .card-item-left {
        margin-right: 0%;
    }
    .card-item{
        width: calc( 100% - 15px );
    }

    .card-item .card-img {
        width: 50%;
    }

    .card-item .card-details {
        width: 50%;
    }
}

@media screen and (min-width: 460px) and (max-width: 768px) {
    .inlinerightfix {
        display: flex;
        flex-direction: column;
    }

    .selectors.inlinefix {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }

    .select {
        margin-right: 0px;
        width: 100%;
    }

    .select-styled {
        width: 100%;
    }

    .select-styled.change1,
    .select-styled.change2 {
        width: 100%;
    }

    .select ul {
        width: 66.7%;
    }

    .select ul > li {
        width: 100%;
    }

    .btn.darkgreen {
        width: 100%;
    }

    .card-item-left {
        margin-right: 0%;
    }
    .card-item{
        display: flex;
        flex-direction: column;
        left: 0;
        padding: 0;
        width: 100%;
    }

    .card-item .card-img {
        width: 100%;
        left: 0;
        z-index: 0;
    }

    .card-item .card-details {
        padding: 15px 15px;
        width: 100%;
    }

    .buttononlinefix {
        position: absolute;
        bottom: 25px;
    }
}

@media screen and (min-width: 453px) and (max-width: 459px) {
    .postregionselectitem {
        display: block;
        margin-bottom: 15px;
    }

    .inlinerightfix {
        display: flex;
        flex-direction: column;
    }

    .selectors.inlinefix {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }

    .select {
        margin-right: 0px;
        width: 100%;
    }

    .select-styled {
        width: 100%;
    }

    .select-styled.change1,
    .select-styled.change2 {
        width: 100%;
    }

    .select ul {
        width: 66.7%;
    }

    .select ul > li {
        width: 100%;
    }

    .btn.darkgreen {
        width: 100%;
    }

    .card-item-left {
        margin-right: 0%;
    }
    .card-item{
        display: flex;
        flex-direction: column;
        left: 0;
        padding: 0;
        width: 100%;
    }

    .card-item .card-img {
        width: 100%;
        left: 0;
        z-index: 0;
    }

    .card-item .card-details {
        padding: 15px 15px;
        width: 100%;
    }

    .buttononlinefix {
        position: inherit;
    }

    .btn.gray.nav__link {
        width: 100%;
    }
}

@media screen and (min-width: 292px) and (max-width: 452px) {
    .inlinerightfix {
        display: flex;
        flex-direction: column;
    }

    .selectors.inlinefix {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }

    .select {
        margin-right: 0px;
        width: 100%;
    }

    .select-styled {
        width: 100%;
    }

    .select-styled.change1,
    .select-styled.change2 {
        width: 100%;
    }

    .select ul {
        width: 66.7%;
    }

    .select ul > li {
        width: 100%;
    }

    .btn.darkgreen {
        width: 100%;
    }

    .card-item-left {
        margin-right: 0%;
    }
    .card-item{
        display: flex;
        flex-direction: column;
        left: 0;
        padding: 0;
        width: 100%;
    }

    .card-item .card-img {
        width: 100%;
        left: 0;
        z-index: 0;
    }

    .card-item .card-details {
        padding: 15px 15px;
        width: 100%;
    }

    .buttononlinefix {
        position: inherit;
    }

    .btn.gray.nav__link {
        width: 100%;
    }
}

@media screen and (max-width: 291px) {
    body {
        overflow-x: scroll;
    }

    .inlinerightfix {
        display: flex;
        flex-direction: column;
    }

    .selectors.inlinefix {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }

    .select {
        margin-right: 0px;
        width: 100%;
    }

    .select-styled {
        width: 100%;
    }

    .select-styled.change1,
    .select-styled.change2 {
        width: 100%;
    }

    .select ul {
        width: 66.7%;
    }

    .select ul > li {
        width: 100%;
    }

    .btn.darkgreen {
        width: 100%;
    }

    .card-item-left {
        margin-right: 0%;
    }
    .card-item{
        display: flex;
        flex-direction: column;
        left: 0;
        padding: 0;
        width: 100%;
    }

    .card-item .card-img {
        width: 100%;
        left: 0;
        z-index: 0;
    }

    .card-item .card-details {
        padding: 15px 15px;
        width: 100%;
    }

    .buttononlinefix {
        position: inherit;
    }

    .btn.gray.nav__link {
        width: 100%;
    }
}

//=======================================================
