// 基本設定
@import 'layout/wrapper';

//=======================================================

//格線系統
@import 'layout/grid';
//12欄
//class="col-1" 寬度為總寬度的 1/12
//class="col-6" 寬度為總寬度的 6/12
//以此類推(col-1 ~ col-12)

//=======================================================

//字體及字級設定
@import 'layout/font';
//花體英文字 class="enSpecialFont"
//標題、按鈕等會用到的襯線字體 class="titleFont"
//日期、按鈕等會用到的小字 class="smalltext"

//=======================================================

//常用顏色
@import 'layout/color';
//引用此支sass以變數使用常用色
//$darkgreen ----- 深綠色
//$lightgreen ----- 淺綠色
//$gray ----- 深灰色
//$lightgray ----- 淺灰色

//=======================================================

//header導覽列
@import 'layout/header';
@include header(fixed);

//=======================================================

//footer及page top按鈕
@import 'layout/footer';

//=======================================================

//按鈕
@import 'layout/btn';
//深綠色按鈕 class="btn darkgreen"
//淺綠色按鈕 class="btn lightgreen"
//深灰色按鈕 class="btn gray"

//=======================================================

//若子元素都為float元素，支撐父層高度
@import 'layout/fatherHeight';
//使用方式 ----- @include fatherHeight();

//=======================================================

//卡片(圓角10px/白底)
@import 'layout/card';
//使用方式 ----- @include card();

//=======================================================

//跳轉符號
@import 'layout/change';
//使用方式 ----- @include changePage();
@include changePage();


//=======================================================

//overflow時的滑動軸
@import 'layout/scrollbar';  
//使用方式 ----- @include scrollbar(要套用的物件);
//例如 ----- @include scrollbar('div.top');

@import 'layout/rwd';
//使用方式 -----.div1{//電腦版 @include pc-width{padding:20px;]

//=======================================================

@import 'layout/rwd2';
//使用方式 -----.div1{//電腦版 @include pc-width{padding:20px;]

//=======================================================


//slider
.col-12.slider_title{
    text-align: right;
    // border: 1px solid saddlebrown;
    padding-right: 8%;
    margin-bottom: 3%;
}
.col-12.slider_row{
    padding-right: 5%;
    display: flex;
    .col-10.img{
        margin: 0 auto;
        
        img{
            width: 150%;
            display: block;
            margin-left: -55%;
            box-shadow: 3px 3px 10px #cfcfcfcf;
        }
    }

    .col-8.bg{
        margin-top: 20%;

        
        img{
    
            width: 160%;
            height: 60%;
            display: block;
            
    
        }   
        
    }

    
}

//小圖換大圖
.col-12.littleimg{
    display: flex;
    margin-top: -30%;
    margin-bottom:5% ;
    .col-10{
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        margin-right: 5%;
        
        .col-6{
            display: flex;
            justify-content: flex-end;
           
            
    
            div.img1{
                display: flex;
        
                img{
                    display: block;
                    width: 100%;
                    box-shadow: 3px 3px 10px #cfcfcfcf;
                }
            }
            div.img2{
                display: flex;
                margin-left: 5%;
        
                img{
                    display: block;
                    width: 100%;
                    box-shadow: 3px 3px 10px #cfcfcfcf;
                }
            }
            div.img3{
                display: flex;
                margin-left: 5%;
        
                img{
                    display: block;
                    width: 100%;
                    box-shadow: 3px 3px 10px #cfcfcfcf;
                }
            }
            div.img4{
                display: flex;
                margin-left: 5%;
        
                img{
                    display: block;
                    width: 100%;
                    box-shadow: 3px 3px 10px #cfcfcfcf;
                }
            }

        }
    

    }
    
}


.col-12.hr{
    hr{
        margin-top: 5%;
    }
}

//專案狀態
.col-12.projectstatus{
    display: flex;
    
    .col-6.img{
        display: flex;
        margin-top: 2%;
        flex-direction: row;
        img{
            transform: rotate(5deg);
            
            width: 55%;
            display: block;
            margin-left: 30%;
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 3%;
            padding-bottom: 15%;
            background-color:　white;
            box-shadow: 3px 3px 10px #cfcfcfcf;
        }

        // img:hover{
        //     transform: rotate(0deg);
        //     transition: .5s;
            
        // }

    }

    .col-6.status{
        padding-top: 5%;
        h3{
            // letter-spacing: 4px;
            margin-top: 2%;
            margin-left: 5%;
        }
        div.progressbar{
            // margin: 0 auto;
            width: 75%;
            margin-left: 5%;
            height: 20px;
            background-color: whitesmoke;
            // border-radius: 5px;
            position: relative;
            overflow: hidden;
            margin-top: 10%;

            span.progress{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                box-sizing: border-box;
                background: linear-gradient(to right, rgb(171, 204, 71), #76912E);
              }
        }

        .amount{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 75%;
            // border: 1px solid salmon;
            margin-left: 5%;

            p.total.first{
                // letter-spacing: 4px;
                margin-top: 2%;
                // margin-left: 10%;
                font-size: 1.3rem;
                span{
    
                    font-size: 2.3rem;
                    color: #76912E;
    
                }
    
            }

            p.total{
                // letter-spacing: 4px;
                margin-top: 2%;
                // margin-left: 10%;
                font-size: 1.3rem;
                span{
    
                    font-size: 1.3rem;
    
                }
    
            }
            
        }

        .peopledate{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            padding-top: 5%;
            // align-items: flex-end;
            width: 90%;
            // border: 1px solid salmon;
            // margin-left: 10%;

            p.people{
                margin: 0;
                padding: 0;
                // border: 1px solid salmon;
                font-size: 1.3rem;
                // letter-spacing: 4px;

                span{
    
                    font-size: 2.3rem;
                    color: #76912E;
    
                }
                

            }

            p.date{
                margin: 0;
                padding: 0;
                // border: 1px solid salmon;
                font-size: 1.3rem;
                // letter-spacing: 4px;

                span{
    
                    font-size: 2.3rem;
                    color: #76912E;
    
                }
                

            }

        }

        .buttons{
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            width: 75%;
            // border: 1px solid salmon;
            margin-left: 5%;
            margin-top: 5%;

            button.share,button.favorite{
                width: 130px;
                height: 40px;
                cursor: pointer;
                font-size: 1rem;
                // letter-spacing: 4px;
            }

            button.share{
                border: 1px solid #76912E;
                color: #76912E;
               
            }

            button.favorite{
                border: 1px solid #bef18c;
                color: #bef18c;
                margin-left: 5%;
                margin-right: 5%;
            }

            

        }

    }
}



//專案文章
.col-12.article{

    display: flex;
    margin-top: 10%;
    background-image: url(../img/body_bg.png);
    flex-direction: column;
   

    .col-8.content{
        margin: 0 auto;
        background-color: white;
        margin-top: 5%;
        box-shadow: 3px 3px 10px #cfcfcfcf;
        margin-bottom: 10%;

        h3{
            // letter-spacing: 4px;
            margin-top: 5%;
            margin-left: 5%;
            color: #555555;
            font-size: 1.5rem;

        
        }

        hr{
            width: 40%;
            margin-top: 2%;
            margin-left: -10%;
            margin-bottom: 3%;
        }

        p{

            margin-left: 5%;
            // letter-spacing: 4px;
            margin-right: 5%;
            margin-top: 2%;
            margin-bottom: 1%;
            color: #555555;
            font-size: 1rem;
            line-height: 2;
            

        }

        p.rasie{
            margin-top: 5%;
            text-align: right;
            color: #555555;

        }

        .img1{
            // border: 1px solid salmon;
            margin: 0 auto;
            width: 90%;
            margin-top: 3%;
            margin-bottom: 3%;
            display: flex;
            flex-direction: row;
            img{
                width: 100%;
                display: block;
                
            }
        }

        .imgs{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0px auto;
            margin-top: 3%;
            margin-bottom: 3%;
            width: 90%;

            .img2{
                width: 48%;
               
                
                img{
                    width: 100%;
                    display: block;
                   
    
                }
            }

            .img3{
                width: 48%;
                
                img{
                    width: 100%;
                    display: block;
                    
    
                }
            }

        }

        .button{

            margin-top: 10%;
            margin-bottom: 10%;
          
            text-align: center;
            
            button.donation{

            width: 200px;
            height: 60px;
            cursor: pointer;
            font-size: 1rem;
            // letter-spacing: 4px;
            border: 1px solid #76912E;
            background-color: #76912E;
            color: white;
            margin: 0 auto;

            }
            

        

        }

        

    }

   

}

//捐款者名單
.col-12.donation{
    margin-top: 10%;
    h1{
        text-align: center;
    }

    .col-6.donationlist{
        margin: 8% auto;

        .col-12.list1,.col-12.list2{
            margin: 5% auto;
            display: flex;
            justify-content: space-around;
    
            .no1,.no2,.no3{
                ul{
                    li{
                        display: inline-block;
                        // border: 1px solid salmon;
                        font-size: 1.3rem;
                        vertical-align: top;
    
                        img{
                            width: 95%;
                            display: block;
                        }
    
                    }
                }
            }
        }

    }

    
}


//其他專案
.col-12.projectslider{
    display: flex;
    margin-top: 10%;
    margin-bottom: 20%;
    // justify-content: flex-end;
    .col-12.button{
        display: flex;
        justify-content: flex-end;
        color: #555555;
        

        div.content{

            margin-right: 10%;
            margin-top: 4%;

            h2{
                // border: 1px solid salmon;
                flex-direction: column;
                color: #555555;
            }

            hr{
                margin-top: 10%;
                margin-bottom: 5%;
                width: 95%;
            }

            h4{
                // letter-spacing: 4px;
            }
            div#leftRightPanel{
                text-align: center;
                // border: 1px solid salmon;
                margin-top: 50%;
                display: flex;
                justify-content: space-between;


                #btnLeft,#btnRight{
                    background-color:white;
                    width: 60px;
                    border: 2px solid transparent;
                    cursor: pointer;
                    outline: none; 
                                       
                }
            
            
            }



        }    
        

    }

    

    .itemPanel{
        display: flex;
        justify-content: flex-end;
        position:relative;
        // margin-right: 1%;
        width: 75%;
        height:450px;
        // border: 1px solid salmon;
        // background-color: #bfbfef;
        overflow:hidden;

        .wrap{
            position:absolute;
            margin-left:10px;
            top:5px;
            left:5px;
            width:3000px;
            transition:left 1s;

            .item{
                margin: 10px;
                width:300px;
                height:400px;
                background-color: white;
                text-align: center;
                float:left;
                box-shadow: 3px 3px 10px #cfcfcfcf;

                img{
                    width: 100%;
                    padding-left: 5%;
                    padding-right: 5%;
                }

                h3{
                    text-align: right;
                    padding-right: 5%;
                    padding-top: 3%;
                    padding-bottom: 4%;
                    color: #555555;
                    font-size: 1rem;
                }

                h4{
                    margin-bottom: 4%;
                    // letter-spacing: 4px;
                    text-align: left;
                    padding-left: 5%;
                    margin-top: 5%;
                    color: #555555;
                }

                div.progressbar{
                    margin: 0 auto;
                    width: 90%;
                    height: 10px;
                    background-color: whitesmoke;
                    // border-radius: 5px;
                    position: relative;
                    overflow: hidden;
                    margin-bottom: 5%;
                
                    span.progress{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        box-sizing: border-box;
                        background: linear-gradient(to right, rgb(171, 204, 71), #76912E);
                      }
                }

                ul{
                    display: flex;
                    // border: 1px solid saddlebrown;
                    justify-content: space-between;
                    margin-top: 1%;
                    padding-left: 5%;
                    padding-right: 5%;
                    
                
                
                    li.first:first-child{
                        // display: inline-flex;
                        text-align: right;
                        display: block;
                        border: 1px solid salmon;
                        // font-size: 16px;
                
                        
                    }

                    li{
                        display: inline-flex;
                        margin-top: 1%;
                        font-size: 1rem;
                        // border: 1px solid saddlebrown;
                        vertical-align:top;
                        color: #555555;
                        // letter-spacing: 4px;
                        
                        
                
                            
                
                    }
                
                
                    
                }

                ul.amount{
                    display: flex;
                    // border: 1px solid saddlebrown;
                    justify-content: space-between;
                    margin-top: 1%;
                    padding-left: 5%;
                    padding-right: 5%;
                    
                
                
                    li{
                        display: inline-flex;
                        margin-top: 1%;
                        font-size: 1.3rem;
                        // border: 1px solid saddlebrown;
                        vertical-align:top;
                        color: #555555;
                        // letter-spacing: 4px;
                        
                    }
                
                    li.second{
                        padding-bottom: 5% ;
                    }
                
                
                    
                }
                
            }

            
        }
    }
}



// rwd

//rwd 959~768px==============================




//專案狀態

.col-12.projectstatus{

    @include pad-width{

        .col-6.img{

            width: 50%;

            img{
                width: 100%;
                margin-left: 2%;
            }

        }

        
        .col-6.status{
            width: 50%;

            h3{
                margin-left: 15%;
            }

            div.progressbar{
                margin-left: 15%;
            }
                  
            .amount{
                
                flex-direction: column;
                align-items: flex-start;
                width: 75%;
                // border: 1px solid salmon;
                margin-left: 15%;
    
                
            }

            .peopledate{
                margin-left: 15%;
            }
    
    
            .buttons{
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                width: 75%;
                // border: 1px solid salmon;
                margin-left: 15%;
                margin-top: 5%;
    
                button.share,button.favorite{
                    width: 80px;
                    height: 30px;
                    // letter-spacing: 4px;
                }
    
                button.share{
                    border: 1px solid #76912E;
                    color: #76912E;
                   
                }
    
                button.favorite{
                    border: 1px solid #bef18c;
                    color: #bef18c;
                    margin-left: 3%;
                    margin-right: 15%;
                }
    
                
    
                
    
            }
    
        }

    }
    
    

}




//專案文章

.col-12.article{
    @include pad-width{

        .col-8.content{
            width:80%;
        }

    }
}

//其他最新專案

.col-12.projectslider{

    @include pad-width{

        .col-12.button{
            .content{
                margin-left: 5%;
            }
        }

        @include scrollbar('div.itemPanel');

        .itemPanel{
            overflow-x: scroll;
        }


    }   

}



//rwd 767~375px==============================

//slider
.col-12.slider_title{

    @include small-pad-width{
        

        h1{
            font-size: 1.3rem;
        }

        h2{
            font-size: 1.3rem;
        }
    }

}

.col-12.slider_row{

    @include small-pad-width{

    }

    .col-10.img{

        width: 100%;
        
    }

}


//slider 小圖換大圖
.col-12.littleimg{

    @include small-pad-width{
        .col-10{
            width: 100%;
            margin: 10%;
            justify-content: space-around;

            .col-6{
                width: 90%;
            }
        
        }
    }

}

.col-12.projectstatus{
 

    @include small-pad-width{

        flex-direction: column-reverse;

        .col-6.img{
            width: 100%;
            margin-top: 10%;

            img{

                margin-left: 20%;

            }
        }

        .col-6.status{
            width: 100%;

            h3{
                font-size: 1.3rem;
                // text-align: center;
            }

            div.progressbar{
                width: 90%;
            }

            .amount{
                flex-direction: column;
                align-items: flex-start;

            }

            .buttons{
                justify-content: space-around;

                .btn.darkgreen{
                    margin-left: 10%;
                }
            }
        }

        

    }

}


//專案文章

.col-12.article{
    @include small-pad-width{

        .col-8.content{
            width:90%;

            h3{
                font-size: 1.3rem;
            }

            p{
                font-size: 1rem;
            }
        }

    }
}

//捐款者名單

.col-12.donation{

    @include small-pad-width{

        h1{
            font-size: 1.3rem;
            
        }

        .col-6.donationlist{
            width: 90%;

            .col-12.list1{

                .no1,.no2,.no3{
                    ul{
                        li{
                            font-size: 1.2rem;   
                        }
                    }
                }

            }

            .col-12.list2{

                .no4,.no5,.no6{
                    ul{
                        li{
                            font-size: 1.2rem;   
                        }
                    }
                }

            }
        }
    }

}

//其他專案
.col-12.projectslider{

    display: block;

    @include small-pad-width{

        .col-12.button{
            flex-direction: column;

            div.content{
                
                h2,hr{
                    display: none;  
                }
                h4{
                    font-size: 1.3rem;
                    margin-left: 5%;

                }

                div#leftRightPanel{

                    margin-top: 10%;

                    button{
                        display: none;
                    }
                    
                }
            }
        }

        

        .itemPanel{
            width: 100%;
            overflow-x: scroll;
        }

    }

}


//rwd 374px↓==============================

//slider
.col-12.slider_title{

    @include small-pad-width{
        

        h1{
            font-size: 1.3rem;
        }

        h2{
            font-size: 1.3rem;
        }
    }

}

.col-12.slider_row{

    @include small-pad-width{

    }

    .col-10.img{

        width: 100%;
        
    }

}


//slider 小圖換大圖
.col-12.littleimg{

    @include small-pad-width{
        .col-10{
            width: 100%;
            margin: 10%;
            justify-content: space-around;

            .col-6{
                width: 90%;
            }
        
        }
    }

}

.col-12.projectstatus{
    

    

    @include small-pad-width{

        flex-direction: column-reverse;

        .col-6.img{
            width: 100%;
            margin-top: 10%;

            img{

                margin-left: 20%;

            }
        }

        .col-6.status{
            width: 100%;

            h3{
                font-size: 1.3rem;
                // text-align: center;
            }

            div.progressbar{
                width: 90%;
            }

            .amount{
                flex-direction: column;
                align-items: flex-start;

            }

            .buttons{
                justify-content: space-around;

                .btn.darkgreen{
                    margin-left: 10%;
                }
            }
        }

        

    }

}


//專案文章

.col-12.article{
    @include small-pad-width{

        .col-8.content{
            width:90%;

            h3{
                font-size: 1.3rem;
            }

            p{
                font-size: 1rem;
            }
        }

    }
}

//捐款者名單

.col-12.donation{

    @include small-pad-width{

        h1{
            font-size: 1.3rem;
            
        }

        .col-6.donationlist{
            width: 90%;

            .col-12.list1{

                .no1,.no2,.no3{
                    ul{
                        li{
                            font-size: 1.2rem;   
                        }
                    }
                }

            }

            .col-12.list2{

                .no4,.no5,.no6{
                    ul{
                        li{
                            font-size: 1.2rem;   
                        }
                    }
                }

            }
        }
    }

}

//其他專案
.col-12.projectslider{

    display: block;

    @include small-pad-width{

        .col-12.button{
            flex-direction: column;

            div.content{
                
                h2,hr{
                    display: none;  
                }
                h4{
                    font-size: 1.3rem;
                    margin-left: 5%;

                }

                div#leftRightPanel{

                    margin-top: 10%;

                    button{
                        display: none;
                    }
                    
                }
            }
        }

        .itemPanel{
            width: 100%;
            overflow-x: scroll;
        }

    }

}



























  

    






