// 基本設定
@import 'layout/wrapper';

//=======================================================

//格線系統
@import 'layout/grid';
//12欄
//class="col-1" 寬度為總寬度的 1/12
//class="col-6" 寬度為總寬度的 6/12
//以此類推(col-1 ~ col-12)

//=======================================================

//字體及字級設定
@import 'layout/font';
//花體英文字 class="enSpecialFont"
//標題、按鈕等會用到的襯線字體 class="titleFont"
//日期、按鈕等會用到的小字 class="smalltext"

//=======================================================

//常用顏色
@import 'layout/color';
//引用此支sass以變數使用常用色
//$darkgreen ----- 深綠色
//$lightgreen ----- 淺綠色
//$gray ----- 深灰色
//$lightgray ----- 淺灰色

//=======================================================

//header導覽列
@import 'layout/header';
@include header(fixed);

//=======================================================

//footer及page top按鈕
@import 'layout/footer';

//=======================================================

//按鈕
@import 'layout/btn';
//深綠色按鈕 class="btn darkgreen"
//淺綠色按鈕 class="btn lightgreen"
//深灰色按鈕 class="btn gray"

//=======================================================

//若子元素都為float元素，支撐父層高度
@import 'layout/fatherHeight';
//使用方式 ----- @include fatherHeight();

//=======================================================

//卡片(圓角10px/白底)
@import 'layout/card';
//使用方式 ----- @include card();

//=======================================================

//跳轉符號
@import 'layout/change';
//使用方式 ----- @include changePage();
@include changePage();


//=======================================================

//overflow時的滑動軸
@import 'layout/scrollbar';  
//使用方式 ----- @include scrollbar(要套用的物件);
//例如 ----- @include scrollbar('div.top');

//=======================================================

@import 'layout/rwd';


//=======================================================

@import 'layout/rwd2';
//使用方式 -----.div1{//電腦版 @include pc-width{padding:20px;]

//電腦  960↑
// @mixin pc-width() {
//     @media all and (min-width: $pc-media) {
//                  @content;
//            }
//       }
  //平板 959~768
//    @mixin pad-width() {
//   @media all and (min-width:$pad-media) and (max-width: $pcs-media) {
//                   @content;
//             }
//   }
  //小平板 767~375
//    @mixin small-pad-width() {
//           @media all and (min-width: $phone-media) and (max-width:$pads-media) {
//                   @content;
//             }
//    }
  //手機 374↓
//    @mixin phone-width() {
//           @media all and (max-width: $phones-media) {
//                   @content;
//             }
//    }

//=======================================================


//顏色定義區(橘/灰/深橘)
$color_orange: #FA8B00;
$color_grey: #f3f3f1;
$color_dark_orange: rgb(144, 187, 115);
$color_yellow: #FFE18D;
$color_dark_yellow: #FFDA71;
$color_dark_grey: #4F4C4B;

//尺寸定義區 
$size_title: 25px;
$size_para: 15px;
$size_bookbtn: 42px;
$size_icon: 22px;
$size_raiser: 55px;

//尺寸
$width_class: 260px;
$height_toppart: 160px;
$height_bottompart: 184px;
$height_progressbar: 10px;
$height_pricerow: 22px;
$height_bottomorange: 5px;

//尺寸(課程框框的padding)
$padding_class: 15px;

//格線系統
@import 'layout/grid';
//12欄
//class="col-1" 寬度為總寬度的 1/12
//class="col-6" 寬度為總寬度的 6/12
//以此類推(col-1 ~ col-12)



//=======================================================

*{
    // border: 1px solid skyblue;
    position: relative;
    color: #555;
    // letter-spacing: 1px;
}
body{
    margin: 0;
    padding: 0;
}

//===================banner==============================
.col-10.topimg{
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    .topimg{
        img{
            display: block;
            width: 100%;
            margin: 0 auto;
            // filter: brightness(.7);
        }
    }
    

    .greenbubble{

        position: absolute;
        top: 7%;
        right: -8%;
            animation: 5000ms greenbubbleAnimation infinite;

            @keyframes greenbubbleAnimation {
                0% { transform:translateY(40px);}
                50% {transform:translateY(70px);}
                100% {transform:translateY(20px);}

            }
            
            img{
                width: 40%;
                display: block;

            }
        
    }

    .bluebubble{

        position: absolute;
        top: 10%;
        right: 5%;
        animation: 5000ms bluebubbleAnimation infinite;

            @keyframes bluebubbleAnimation {
                0% { transform:translateY(20px);}
                50% {transform:translateY(80px);}
                100% {transform:translateY(20px);}

            }
            
            img{
                width: 50%;
                display: block;

            }
            
            

    }


    .littleyellowbubble{

        position: absolute;
        bottom: 15%;
        // left: -5%;
            animation: 9000ms littleyellowbubbleAnimation infinite;

            @keyframes littleyellowbubbleAnimation {
                0% { transform:translateY(20px);}
                50% {transform:translateY(50px);}
                100% {transform:translateY(20px);}

            }
            
            img{
                width: 50%;
                display: block;

            }     

    }


}

//=======================================================

//===================發起募款步驟==============================
.col-12.step{
    display: flex;
    .col-8.stepcontent{
        margin: 0 auto;
        .col-12.title{
            margin-top: 5%;
            margin-bottom: 10%;
            h2{
                text-align: center;
                color: #555555;
            }

            p{
                text-align: center;
                color: #555555;
                margin-top: 1%;
            }

            p:nth-child(1){
                margin-top: 3%;
            }
            
        }
        .col-12.steps{
            display: flex;
            justify-content: space-between;
            // margin-bottom: 10%;
            .first_step,.second_step,.third_step,.forth_step,.complete{
                width: 100%;
                height: 200px;
                align-items: center;
                justify-content: center;
                // border: 1px solid seagreen;
                margin: 1%;
                
                // background-color: #BCEF82;

                h1{
                    // letter-spacing: 10px;
                    // border: 1px solid salmon;
                    color: #76912E;
                    


                }

                h2{
                    text-align: center;
                    color: #76912E;
                    // border: 1px solid salmon;
                }

                p{

                    text-align: center;
                    color: #76912E;

                }

                
            }

            .first_step{
                background-image: url(../img/donation/big_green_bubble.png);
                background-size: cover;
                background-repeat: no-repeat;
                animation: 4000ms greenbubbleAnimation infinite;
                animation-delay:1s;
                max-width: 200px;

                @keyframes greenbubbleAnimation {
                    0% { transform:translateY(0px);}
                    50% {transform:translateY(3px);}
                    100% {transform:translateY(0px);}

                }
                
               
            }

            .second_step{
                background-image: url(../img/donation/big_bule_bubble.png);
                background-size: contain;
                background-repeat: no-repeat;
                animation: 6000ms bluebubbleAnimation infinite;
                animation-delay:3s;
                max-width: 200px;

                @keyframes bluebubbleAnimation {
                    0% { transform:translateY(2px);}
                    50% {transform:translateY(6px);}
                    100% {transform:translateY(2px);}

                }
                

                h1,h2,p{
                    color: #81C4D0;
                }
            }

            .third_step{
                background-image: url(../img/donation/big_orange_bubble.png);
                background-size: contain;
                background-repeat: no-repeat;
                animation: 8000ms yellowbubbleAnimation infinite;
                animation-delay:1s;
                max-width: 200px;

                @keyframes yellowbubbleAnimation {
                    0% { transform:translateY(0px);} 
                    50% {transform:translateY(7px);}
                    100% {transform:translateY(0px);}

                }
                
                
                h1,h2,p{
                    color:#FFB452;
                }
            }

            .forth_step{
                background-image: url(../img/donation/big_pink_bubble.png);
                background-size: contain;
                background-repeat: no-repeat;
                animation: 5000ms pinkbubbleAnimation infinite;
                animation-delay:2s;
                max-width: 200px;

                @keyframes pinkbubbleAnimation {
                    0% { transform:translateY(0px);}
                    50% {transform:translateY(5px);}
                    100% {transform:translateY(0px);}

                }

                h1,h2,p{
                    color:#E18E98;
                }
            }

            .arrow{
                // border: 1px solid teal;
                display:flex;
                align-items:center;
                justify-content:center;
                margin-left: -2%;
                margin-right: 2%;
                opacity: .5;
                
                
                img{
                    width: 60px;
                    display: block;
                    // border: 1px solid teal;
                    

                    
                }
            }

            // .complete{
            //     width: 100%;
            //     background-image: url(../img/donation/big_green_bubble.png);
            //     background-size: contain;
            //     background-repeat: no-repeat;
            //     position: relative;
            //     animation: 4000ms greenbubbleAnimation infinite;
            //     animation-delay:1s;

            //     @keyframes greenbubbleAnimation {
            //         0% { transform:translateY(0px);}
            //         50% {transform:translateY(3px);}
            //         100% {transform:translateY(0px);}

            //     }
               
                
                
            //     h3{
            //         color: #76912E;
            //         line-height: 180px;
            //         text-align: center;
                
            //     }

            //     .sparkle{
            //         position: absolute;
            //         top: -3%;
            //         left: 50%;
            //         img{
            //             display: block;
            //             width: 100%;
                        
            //         }
            //     }

                

                
            // }

        }
    }
}
//=======================================================


//===================發起募款表單==============================


input,textarea{
    width: 99%;
}

h2{
    background-image: url(./img/donation/big_green_bubble.png);
    background-size: cover;
}

label{
    // background: linear-gradient(transparent 70%, #a7fff8 70%);
    
}

.articletitlebox{
    
    // border: 1px solid saddlebrown;
    height: 40px;
    margin-top: 20px;
    h3{
        display: inline-block;
    }
}

.select {
    position: relative;
    width: 100%;
    height: 33px;
    color: #555555;
    outline: none!important;
    border: 1px solid hsla(0, 0, 0, 0.3);
    font-size: 1em;
    margin: 12px 0px;
    background-color: #fff;
   

    &::after {
      content: '';
      border-top: 8px solid #222;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      position: absolute;
      z-index: 2;
      top: 14px;
      right: 10px;
      pointer-events: none;
    }

    select {
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
      position: absolute;
      padding: 0;
      border: none;
      width: 100%;
      outline: none!important;
      top: -12px;
      left: 6px;
      background: none;

      :-moz-focusring {
        color: transparent;
       
      }

    }
}


textarea.shortcontent{
    height: 80px;
}

textarea{
    height: 150px;
}

.formbox{
    background-image: url(../img/donation/skybg.png);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;

}

form{
    width: 100%;
    margin: 100px auto;
    background-color: rgba(255,255,255,0.7);

    .stepone{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        
    }
}

#app{
    padding: 30px;
    margin-top: -30px;
   
    .cardfill{
        width: 50%;
        margin-top: 30px;
        div.title,div.name,.coverimg,div.fundGoal{
            margin-top: 30px;
        }
     
        span{
            position: absolute;
            top: 0;
            right: 0;
            
        }
        input,textarea{
            margin: 12px 0px;
            font-size: 1em;
            border: 1px solid #bbb;
        }
        textarea{
            height: 70px;
        }

        input{
            height: 30px;  
        }
        .coverimgbox{
            margin: 50px 0px;

        }
        .coverimg {
            position: relative;
            display: inline-block;
            border: 1px solid #bbb;
            padding: 10px 12px;
            margin: 0;
            overflow: hidden;
            text-decoration: none;
            line-height: 20px;
            cursor: pointer;
            transition: .3s;

            i{
                margin-right: 10px;
                transition: .3s;
            }
        }
        .coverimg input {
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }
        .coverimg:hover {
            border-color: #76912E;
            color: #76912E;
            text-decoration: none;

            i{
                color: #76912E;
            }
        }
        p{
            font-size: 0.9em;
            letter-spacing: 1px;
            color: #bbb;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
            margin: 0;
        }
    }
}

.preview{
    width: 100%;
    height: 100%;
    border: 0px;
}


#app2{
    width: 50%;
    margin-top: 40px;
    box-sizing: border-box;
    padding-left: 40px;
}


.donationcardbox{
    width: 260px;
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
    color: $color_dark_grey;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    
  
    
    &:hover{
      .heartbtn{
        bottom: 10px;
      }
      .donationpic{
        transform: scale(1.13);
      }
      .bottom .valuebar{
        width: 100%;
      }
    }
    
    .raiser{
      width: $size_raiser;
      height: $size_raiser;
      position: absolute;
      left: $padding_class;
      top: -$size_raiser/2;
      border-radius: 50%;
      background-size: cover;
      border: solid 2px white;
      z-index: 100;
    }
    
  
  }
  
  .top{
    height: $height_toppart;
    overflow: hidden;
    .tag{
      transform: translateX(95px) translateY(20px) rotate(45deg);
      width: 100%;
      text-align: center;
      padding: 5px 0px;
      background-color: $color_dark_orange;
      color: white;
      font-weight: 700;
      box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
    }
    
    .donationpic{   
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-size: cover;
      border-radius: 5px 5px 0px 0px;
      transition: .3s;
      
    }
    
    .heartbtn{
      width: 42px;
      height: 42px;
      border-radius: 50%;
      position: absolute;
      left: $padding_class;
      bottom: -50px;
      background-color: #EE7785;
      box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
      cursor: pointer;
      transition: .3s;
      
      &:hover{
        background-color: white;
        i{
          color: #EE7785;
          
        }
        
      }
      
      i{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: $size_icon;
        color: white;
        
      } 
  
    }
    
  
  }
  
  .bottom{
    height: $height_bottompart;
    padding: $padding_class;
    
    .donationtitle,.donationname{
      letter-spacing: 2.5px;
      margin-top: 0;
        
    }
    
    .texts{
      font-size: $size_para;
      letter-spacing: 1px;
      margin-top: 5px;
        .orange{
          padding-left: 5px;
          color: $color_dark_orange;
          }
    }
    
    .statusrow{
      margin-bottom: 10px;
      .lastday{
        position: absolute;
        top: 0;
        right: 0;
  
      }
      
    }
    
    .progressbar{
      
      height: 10px;
      margin-bottom: 10px;
      background-color: darken($color_grey,6);
      border-radius: 5px;
      overflow: hidden;
    }
    
    .goal{
      
      text-align:center;
      
  
    }
    
    .orangebar{
      
      height: 5px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $color_dark_orange;
      border-radius: 0px 0px 5px 5px;
  
    }
  }

.steponebtn{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    #step1{
        width: 150px;
        height: 40px;
        border: 1px solid #647926;
        cursor: pointer;
        color: #647926;
        text-align: center;
        line-height: 40px;
    
    }
}



.detailbox{
    width: 90%;
    margin: 0 auto;
    display: none;

    div.firstarticlerow,div.secondarticlerow,div.thirdarticlerow{
        margin-top: 25px;

        span{
            position: absolute;
            right: 0;
            
        }
    }

    textarea{
        height: 100px;
        margin-top: 10px;
    }

    
    .imgboxrow{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        .imgbox,.imgbox1,.imgbox2{
            width: 31%;     
        }

        label#img_upload,label#img_upload2,label#img_upload3{
            width: 100%;
            min-height: 180px;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            text-align: center;
            cursor: pointer;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            &:hover{
                span{
                    border-color: #76912E;
                    color: #76912E;
                    text-decoration: none;
                }
                i{
                    color: #76912E;
                }
    
            }
            input{
                display: none;
                }
            span{
                text-align: center;
                position: absolute;
                bottom: 50%;
                left: 50%;
                transform: translate(-50%,50%);
                // border: 1px solid #bbb;
                padding: 10px 12px;
                transition: .3s;
                    i{
                        margin-right: 10px;
                        transition: .3s;
                    }
                 
                }          
        
        }

    }
    

    .gosubmit{
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .steptwobtn{
            text-align: center;
            display: inline-block;
            margin-right: 30px;
            #step2{
                width: 150px;
                height: 40px;
                border: 1px solid #647926;
                cursor: pointer;
                color: #647926;
                text-align: center;
                line-height: 40px;
            
            }
        }
        
        button[type=submit].su{
            background-color: transparent;
            border: 0px;
            cursor: pointer;
            margin-left: 30px;
            &:focus{
                outline: none;
            }
          }
    }

}

//=======================================================



// rwd

//rwd 959~768px==============================

.col-12.step{

    @include pad-width{

        .col-8.stepcontent{
            width: 70%;

            .col-12.steps{

                align-items: center;
    
                .first_step,.second_step,.third_step,.forth_step{
                    width: 135px;
                    height: 135px;

                    h1{
                        font-size: 2rem;
                    }
                    h2{
                        font-size: 1.6rem;
                        
                    }
                }   
    
            }
        }
        

    }

}

#raisedonationform{

    @include pad-width{
        width: 90%;;

        .col-8.form_content{
            width: 100%;
        }


    }

}



//rwd 767~375px==============================
.col-10.topimg{


    @include small-pad-width{
        width: 100%;

        .greenbubble{
            right: -40%;
        }
        .bluebubble{
            right: -10%;
            width: 30%;
            top: 40%;
        }
        .littleyellowbubble{
            bottom: 25%;
            width: 36%;
            top: 40%;
        }


    }


}


.col-12.step{

    @include small-pad-width{

        .col-8.stepcontent {
            width: 90%;
            .col-12.title{

                h2{
                    font-size: 24px;
                }

            }
           

            .col-12.steps{
                display: none;
    
            }
        }

        
        

        
    }

}

.formbox{

    @include small-pad-width{
        margin-top: 0px;

        form.col-8{
            width: 90%;
            margin: 50 auto;

            #app{
                padding: 0px;
                padding-bottom: 30px;
                .stepone{
                    display: flex;
                    flex-direction: column;
                    .cardfill{
                        width: 90%;
                        margin-top: 0px;
                        .coverimgbox{
                            display: flex;
                            flex-direction: column;
                            .coverimg{
                                display: block;
                                text-align: center;
                            }
                            p{
                                position: static;
                                margin-top: 10px;
                            }
        
                        }
                    }
                    
                    #app2{
                        width: 100%;
                        padding-left: 0;
                        margin-top: 0px;
                        margin-bottom: 10px;
                        h3{
                            font-size: 20px;
                        }
                    }
                }

                .detailbox{
                        h3{
                            font-size: 20px;
                        }

                        .imgboxrow{
                            flex-direction: column;
                            margin-top: 0px;
        
                            .imgbox,.imgbox1,.imgbox2,.imgbox3{
                                width: 100%;
                            }
                        }
                        .gosubmit{
                            flex-direction: column;
                            margin-top: 20px;
        
                            .steptwobtn{
                                margin-right: 0px;;
                                margin-bottom: 20px;
                            }
                            button[type=submit].su{
                                margin-left: 0px;
                            }
                        }
        
                    }
            }
        }
    }

}

.form{

    @include small-pad-width{
            margin: 50 auto;

        }
    

}



//rwd 374px==============================
.col-10.topimg{


    @include phone-width{
        width: 100%;

        .greenbubble{
            right: -40%;
        }
        .bluebubble{
            right: -10%;
            width: 30%;
            top: 40%;
        }
        .littleyellowbubble{
            bottom: 25%;
            width: 36%;
            top: 40%;
        }


    }


}


.col-12.step{

    @include phone-width{

        .col-8.stepcontent {
            width: 90%;
            .col-12.title{

                h2{
                    font-size: 24px;
                }

            }
           

            .col-12.steps{
                display: none;
    
            }
        }

        
        

        
    }

}

.formbox{

    @include phone-width{
        margin-top: 0px;

        form.col-8{
            width: 90%;
            margin: 50 auto;

            #app{
                padding: 0px;
                padding-bottom: 30px;
                .stepone{
                    display: flex;
                    flex-direction: column;
                    .cardfill{
                        width: 90%;
                        margin-top: 0px;
                        .coverimgbox{
                            display: flex;
                            flex-direction: column;
                            .coverimg{
                                display: block;
                                text-align: center;
                            }
                            p{
                                position: static;
                                margin-top: 10px;
                            }
        
                        }
                    }
                    
                    #app2{
                        width: 100%;
                        padding-left: 0;
                        margin-top: 0px;
                        margin-bottom: 10px;
                        h3{
                            font-size: 20px;
                        }
                    }
                }

                .detailbox{
                        h3{
                            font-size: 20px;
                        }

                        .imgboxrow{
                            flex-direction: column;
                            margin-top: 0px;
        
                            .imgbox,.imgbox1,.imgbox2,.imgbox3{
                                width: 100%;
                            }
                        }
                        .gosubmit{
                            flex-direction: column;
                            margin-top: 20px;
        
                            .steptwobtn{
                                margin-right: 0px;;
                                margin-bottom: 20px;
                            }
                            button[type=submit].su{
                                margin-left: 0px;
                            }
                        }
        
                    }
            }
        }
    }

}

.form{

    @include phone-width{
            margin: 50 auto;

        }
    

}




// .col-12.step{

//     @include phone-width{
//         display: none;
//     }

// }


// #raisedonationform{

//     @include phone-width{


//             .stepone{
//                 display: flex;
//                 flex-direction: column;

//                 .cardfill{
//                     width: 100%;
//                 }

//                 .coverimgbox{
//                     display: flex;
//                     flex-direction: column;
//                     .coverimg{
//                         display: block;
//                         text-align: center;
//                     }
//                     p{
//                         position: static;
//                         margin-top: 10px;
//                     }
                    
//                 }
//                 #app2{
//                     width: 100%;
//                     padding-left: 0;
//                     margin-top: 0px;
//                     margin-bottom: 10px;
//                 }
                
//             }

//             .detailbox{

//                 .imgboxrow{
//                     flex-direction: column;

//                     .imgbox,.imgbox1,.imgbox2,.imgbox3{
//                         width: 100%;
//                     }
//                 }
//                 .gosubmit{
//                     flex-direction: column;
//                     margin-top: 20px;

//                     .steptwobtn{
//                         margin-right: 0px;;
//                         margin-bottom: 20px;
//                     }
//                     button[type=submit].su{
//                         margin-left: 0px;
//                     }
//                 }

//             }




//     }

// }



